#ninja-slider {
	padding: 0px;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	float: right !important;
}
#ninja-slider div.fs-icon {
	top: 10px;
	right: 6px;
	width: 60px;
	height: 26px;
	background: rgba(0,0,0,0.3);
	z-index: 2;
	color: white;
	text-align: center;
	font: bold 11px/26px arial;
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 2px;
	opacity: 0;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
}
#ninja-slider .slider-inner:hover div.fs-icon, #ninja-slider.fullscreen div.fs-icon {
	opacity: 1;
}
#ninja-slider div.fs-icon::before {
	content: "EXPAND";
	display: block;
}
#ninja-slider.fullscreen div.fs-icon::before {
	content: "CLOSE";
}
#ninja-slider .slider-inner {
	margin: 0 auto;
	font-size: 0px;
	position: relative;
	box-sizing: border-box;
}
#ninja-slider.fullscreen .slider-inner {
	width: 100%;
	max-width: 950px;
}
#ninja-slider ul {
	position: relative;
	list-style: none;
	padding: 0;
	box-sizing: border-box;
	touch-action: pan-y;
	height: 348px !important;
}
#ninja-slider li {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	font-size: 12px;
	list-style: none;
	margin: 0;
	padding: 0;
	opacity: 0;
	overflow: hidden;
	box-sizing: border-box;
}
#ninja-slider li.ns-show {
	opacity: 1;
}
#ninja-slider .ns-img {
	box-shadow: none;
	cursor: default;
	display: block;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
	top: 0;
	left: 7px;
}
#ninja-slider .video, .video-playbutton-layer {
	top: 0;
	left: 0;
	border: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: black;
	position: absolute;
}
.video-playbutton-layer {
	background: transparent url(../css-img/video.png) no-repeat center center;
}
#ninja-slider div.stopVideoIcon {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0px;
	margin: 0 0 6px 6px;
	background: rgba(0,0,0,0.7);
	border-bottom-left-radius: 4px;
	cursor: pointer;
}
#ninja-slider div.stopVideoIcon::before {
	content: "+";
	color: white;
	font: bold 30px/30px arial;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	display: block;
}
#ninja-slider-pause-play {
	display: none;
}
#ninja-slider-prev, #ninja-slider-next {
	position: absolute;
	display: inline-block;
	width: 42px;
	height: 56px;
	line-height: 56px;
	top: 50%;
	margin-top: -28px;
	backface-visibility: hidden;
	color: white;
	overflow: hidden;
	white-space: nowrap;
	-webkit-user-select: none;
	user-select: none;
	border-radius: 2px;
	z-index: 10;
	font-family: sans-serif;
	font-size: 13px;
	cursor: pointer;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
}
#ninja-slider-prev:hover, #ninja-slider-next:hover {
	opacity: 1;
}
#ninja-slider.fullscreen #ninja-slider-prev:hover, #ninja-slider.fullscreen #ninja-slider-next:hover {
	width: 90px;
}
#ninja-slider-prev {
	left: 18px;
}
#ninja-slider-next {
	right: 18px;
}
#ninja-slider.fullscreen #ninja-slider-prev {
	left: -50px;
	opacity: 1;
}
#ninja-slider.fullscreen #ninja-slider-next {
	right: -50px;
	opacity: 1;
}
#ninja-slider-prev div {
	opacity: 0;
	margin-left: 30px;
	transition: opacity 0.7s;
}
#ninja-slider-next div {
	opacity: 0;
	margin-right: 30px;
	transition: opacity 0.7s;
}
#ninja-slider.fullscreen #ninja-slider-prev:hover div {
	opacity: 1;
}
#ninja-slider.fullscreen #ninja-slider-next:hover div {
	opacity: 1;
}
#ninja-slider-prev::before, #ninja-slider-next::before {
	position: absolute;
	top: 17px;
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	opacity: 1 !important;
}
#ninja-slider-prev::before {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	backface-visibility: hidden;
	left: 14px;
}
#ninja-slider-next::before {
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	backface-visibility: hidden;
	right: 14px;
}
#ninja-slider-pager {
	display: none;
}
#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
@media(max-width:1199px) {
#ninja-slider .ns-img{height: 375px !important;}
#ninja-slider ul{height: 373px !important;}
}
@media(max-width:991px) {
#ninja-slider .ns-img{height: 414px !important;}
#ninja-slider ul{height: 414px !important;}	
}

@media(max-width:767px) {
#ninja-slider .ns-img{height: 343px !important;}
#ninja-slider ul{height: 343px !important;}	
}
@media(max-width:575px) {
#ninja-slider .ns-img{height: 291px !important;}
#ninja-slider ul{height: 291px !important;}	
#ninja-slider ul{height: 284px  !important;}	
	#thumbnail-slider {
  height: 284px !important;
}
}
@media(max-width:480px) {
#ninja-slider ul {
	height: 326px !important;
}
}

@media only screen and (max-width: 427px){ 

#ninja-slider .ns-img{height: 284px  !important;}
#ninja-slider ul{height: 284px  !important;}	
	#thumbnail-slider {
  height: 284px !important;
}
}


/*@media(max-width:1199px) {
#ninja-slider {
	width: 69%;
}
#ninja-slider ul {
	height: 435px !important;
}
}
@media(max-width:991px) {
#ninja-slider .ns-img{
	top:-13px;
}
	
#ninja-slider {
	width: 61%;
}
#ninja-slider ul {
	height: 400px !important;
}
#ninja-slider.fullscreen #ninja-slider-prev {
	left: 0;
}
#ninja-slider.fullscreen #ninja-slider-next {
	right: 0;
}
#ninja-slider.fullscreen {
	top: inherit !important;
}
#ninja-slider.fullscreen .fs-icon {
	top: 97px !important;
}
#ninja-slider div.fs-icon {
	background: #000;
	border: none;
}
#ninja-slider .ns-img {
	height: 500px !important;
}
#ninja-slider-prev, #ninja-slider-next{
	top:38%;
}
#thumbnail-slider {
	height: 305px !important;
}
#ninja-slider ul {
	height: 500px !important;
}

}
@media(max-width:767px) {
#ninja-slider {
	width: 82%;
}
#ninja-slider.fullscreen {
	top: inherit !important;
}
#ninja-slider ul {
	height: 335px !important;
}
}
@media(max-width:640px) {
#ninja-slider {
	width: 77%;
}
}
@media(max-width:480px) {
#ninja-slider {
	width: 83%;
}
}
 @media(max-width:380px) {
#ninja-slider {
	width: 80%;
}
}
 @media(max-width:360px) {
#ninja-slider .ns-img {
	height: 340px !important;
}
#ninja-slider ul {
	height: 360px !important;
}
}*/
