




  
@media (min-width: 768px) and (max-width: 5000px) 
{
.nav_top .dropdown .dropdown-menu { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s;
    -o-transition: all 0.3s;transition: all 0.3s; max-height: 0; display: block; opacity: 0;visibility: hidden;  margin:0px; border: none; border-bottom: 2px solid #ccc; 
    background:#fff !important;
    width: 150px; padding: 0px;
   border-radius: 0; left: 0; right: inherit; padding: 5px 8px 8px; box-shadow: inherit; }

.nav_top .dropdown:hover .dropdown-menu { max-height: 300px;opacity: 1; visibility: visible; }

}

@media (min-width: 2700px) and (max-width: 8000px) {
.ban_img_sec{width: 100%;}
.ban_img_sec {
    width: 100%;
    text-align: right;
}
.ban_img_inr:before{    width: 666px;
    height: 409px;}
.ban_img_inr img {
    width: 500px;
}
.ban_tex_inr {
    width: 709px;
}
.ban_tex_inr h6{    font-size: 57px;
    line-height: 67px;}

}



@media (min-width: 1499px) and (max-width: 1800px) {
.ban_img_inr:before { width: 707px;
    height: 433px;}
.ban_img_inr img{ width: 537px;}



}


@media (min-width: 1299px) and (max-width: 1400px) {
.ban_img_inr:before {    width: 653px;
    height: 401px;}
.ban_img_inr img {
    width: 488px;
}
.ban_tex_inr h6{font-size: 53px;
    line-height: 62px;
  }
.pag_arwbtn{    padding: 0 12px;
    font-size: 16px;}
.banar_sec{height: 440px;}

.popular_products_sec .container {
    max-width: 100%;
}
.rel_products_sec .container{max-width: 1200px;}

}



  
@media only screen and (max-width: 1399px){ 

} 

/*1399px*/
@media (min-width: 1200px) and (max-width: 1299px) {

.container {
  max-width: 1140px;
}
.ban_img_inr:before {    width: 653px;
    height: 401px;}
.ban_img_inr img {
    width: 488px;
}
.ban_tex_inr h6 {
  font-size: 48px;
  line-height: 54px;
}
.pag_arwbtn{padding: 0 12px;
    font-size: 16px;}
.banar_sec{height: 440px;}

.popular_products_sec .container {
    max-width: 100%;
}
.ban_tex_inr {
  width: 627px;
}
.ban_tex_inr p{font-size: 16px;
line-height: 27px;}
.pag_arwbtn {
  padding: 0 8px;
  font-size: 14px;
}
.ban_tex_inr h5{font-size: 20px;
line-height: 26px;}
.clients_say_sec .owl-prev{left: -20px;}
.clients_say_sec .owl-next {right: -20px;}
.last_order_bx p {
  font-size: 13px;
}
.last_order_bx span {
  font-size: 13px;
  }
}  


/*  1299px*/
@media only screen and (max-width:1199px) {

.container{max-width: 970px;}
.rel_products_sec .container{max-width: 970px;}


.ban_img_inr:before {
  width: 477px;
height: 294px;
}
.ban_img_inr img {
    width: 366px;
}
.ban_tex_inr h6 {
  font-size: 40px;
line-height: 51px;
}
.pag_arwbtn{padding: 0 12px;
    font-size: 16px;}
.banar_sec{height: 381px;}

.popular_products_sec .container {
    max-width: 100%;
}
.ban_tex_inr {
  width: 627px;
}
.ban_tex_inr p{font-size: 16px;
line-height: 27px;}
.pag_arwbtn {
  padding: 0 8px;
  font-size: 14px;
}
.ban_tex_inr h5{font-size: 18px;
line-height: 21px;}
.banar_sec .container {
  max-width: 100%;
}
.header_sec .container {
  max-width: 100%;
}
.menu_sec li {
  padding: 0 4px;
  font-size: 15px;
}
.menu_sec {
  padding-right: 200px;
}
.ban_ntn {
  margin-top: 18px;
}

.ban_tex_inr p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 16px;
}


.patint_detl_inr .media-body h3{font-size: 23px;}
.patint_detl_inr .media-body p{font-size: 15px;}


.videoBox > img {
  width: 700px;
  height: 400px;
}


.popular_products_sec{padding: 45px 0 62px;}

.award_winning_text h4{font-size: 45px;
line-height: 51px;}
.award_winning_text p{  font-size: 15px;
  line-height: 29px;
  margin-top: 14px;
}


.clients_say_sec .owl-prev{left: -20px;}
.clients_say_sec .owl-next {right: -20px;}
.clients_text p {
  font-size: 14px;
  line-height: 25px;
}
.clients_foot_left h4{font-size: 16px;}
.clients_foot_left p{font-size: 14px;
margin-top: 0;}
.clients_text{min-height: 271px;}

.news_sec {
  padding: 28px 0 34px;
}
.news_text h4 {
  font-size: 17px;
  line-height: 23px;
}
.news_text em{margin-top: 9px;font-size: 15px;
line-height: 25px;}
.news_text p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
}


.footer_body .col-sm-3:nth-child(2) .footer_bx, .footer_body .col-sm-3:nth-child(3) .footer_bx {
  padding-left: 0;
}
.footer_body .col-sm-3 {
  flex: 0 0 15%;
  max-width: 15%;
}
.footer_body .col-sm-3:last-child {
  flex: 0 0 34%;
  max-width: 34%;
}


/*search page start*/
.filter_cc{position: relative; margin-bottom: 13px; margin-top: 0;}
.search_fitar_inr{padding-left: 0;}
.filtar_drop{padding: 0 8px; background-position:  right 10px center !important;}
 .prin_rance b{font-size: 13px;}
#amount{font-size: 13px;}
.search_body .col-sm-2 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.product_details_left{width: 44%;}
.product_details_right{width: 56%;}

/*--------15.02.2022-sayanti----*/
.input_fields label{
  font-size: 14.5px;
}
.registr_head {
    font-size: 19px;
    margin-bottom: 7px;
}

.registration_div {
    max-width: 100%;
}
.input-from .col-12, .input-from .col-sm-6, .input-from .col-lg-12, .input-from .col-sm-12 {
    padding: 0 10px;
}



.cart_left{
  width: 95%;
}

.cart_quan {
    margin-top:10px;
}
button.decrement-quantity, button.increment-quantity, button.decrement-quantity1, button.increment-quantity1, button.decrement-quantity2, button.increment-quantity2 {
    
    width: 25px;
    height: 25px;
}
.product-quantity input {
    height: 20px;
}
.product-quantity input{
  font-size: 16px;
}
.summary-cart {
    padding: 15px;
}
.product-quantity {
    width: 100%;
    display: block;
}

.cart_summary_info{
  margin-bottom: 0;
}
.total_cart_div h1{
  font-size: 18px;
  line-height: 22px;
}
.total_cart_div {
    padding: 10px 0;
    margin: 14px 0;
}

.cart_sec {
    padding: 18px 0 30px;
}
.cart_info {
    width: calc(100% - 41px);
}

.dashbord_favorites .col-sm-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  max-width: 33.333%;
}
.address_book  .col-sm-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}


.order_summary_tx, .delivery_summary_tx{min-height: 163px;}
.last_order_left {
  width: 100%;
}
.last_order_right{width: 50%;padding-left: 0; margin-top: 6px;}
.total_order_item{padding: 16px 10px;}
.total_order_item .media .media-body p {
  font-size: 14px;
}
.total_order_bx {
  padding: 23px 0 25px;
}

.about-title h5 {
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
}

.about-title h1 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 5px;
}
.about-text p {
    padding-right: 0px;
    font-size: 15px;
    line-height: 26px;
    margin-top: 6px;
}
.single-item .mv-icon {
    width: 70px;
}
.mv-title {
    width: calc(100% - 70px);
}
.mv-title p {
    padding-right:0px;
    font-size: 14px;
    line-height: 23px;
}
.about-area {
    padding: 40px 0 40px;
}
.row.align-items-center.new_align-roes {
    align-items:flex-start !important;
}
.mv-title h3 {
    font-size: 18px;
    margin-bottom: 1px;
}
.about-front-img {
    margin-top: 25px;
    margin-right: 0px;
}
.our-destination {
    margin-top: 20px;
}
.single-item {
    display: flex;
    align-items: flex-start;
    margin-top: 18px;
}


.orders_table{
  padding: 8px 8px;
}
.orders_infos.text-right{
  text-align: left !important
}
.dash_inputs{
  margin-bottom: 10px;
}
.orders_infos p , .orders_infos span{
  font-size: 14px;
  line-height: 20px;
}
.order_tm {
    padding: 4px 4px;
}
.orders_infos {
    padding:0 3px 0px;
}
.add_ttrr.actions-main{
  margin-right: 5px;
}

.cont-box h3 {
    font-size: 17px;
    margin-bottom: 3px;
}
.cont-box {
    margin-bottom: 26px;
}
.iframe_divs {
    margin-top: -50px;
    border-radius: 6px;
}
.help_sec .faq-tbs li {
    padding-top: 6px;
    margin-right: 10px;
    text-align: center;
}
.help_sec .faq-tbs li a {
    font-size: 16px;
    padding: 6px 14px;
}
.help_sec .faq-tbs ul {
    padding-right: 0px;
}
.faq-tbs {
    padding-top:15px;
}
.product_details_right .product-quantity {
    width: auto;
    display: block;
    padding-left: 25px;
    margin-top: 10px;
}
.sign_btn_bx{
  top: 43px;
  width: 280px;
}
.sign_btn_bx a {
    padding: 6px 7px 6px 7px;
}
.sign_btn_bx li {
    font-size: 14px;
}
}

/*1199px*/



@media only screen and (max-width: 991px) {

.container{max-width: 740px;}
.rel_products_sec .container{max-width: 740px;}

.nav_top .navbar-toggler{ border-color: #383e40; background: #383e40;}
.nav_top .navbar-toggler{ padding: 10px; margin-right: 0;}
.nav_top .navbar-toggler .icon-bar {display: block;width: 22px;height: 2px;  border-radius: 1px; background-color: #fff;}
.nav_top .navbar-toggler .icon-bar + .icon-bar {  margin-top: 4px;}
.navbar-toggler .icon-bar { display: block;  width: 22px;  height: 2px;  border-radius: 1px;  background-color: #fff;}
.navbar-toggler { margin-right: 15px;}
.navbar-toggler { padding: 10px;}

.nav_top .navbar-toggler {border-color: #0d1f35;background: #0d1f35; margin: 10px 15px 10px 0; outline: none !important;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(1) {-ms-transform: matrix(1, -1, 0, 1, 0, 0); transform: matrix(1, -1, 0, 1, 0, 0); 
   -webkit-transform: matrix(1, -1, 0, 1, 0, 0); width: 25px;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(2) { opacity: 0;  width: 0px;}  
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(3) {-ms-transform: matrix(1, 1, 0, 1, 0, 0); transform: matrix(1, 1, 0, 1, 0, 0); -webkit-transform: matrix(1, 1, 0, 1, 0, 0);
width: 25px;  margin-top: -11px;} 
.nav_top .navbar-toggler .icon-bar { display: block; width: 30px; height: 2px; border-radius: 3px; background-color: #fff; opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0); -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.nav_top .navbar-toggler { width: 45px; height: 35px; text-align: center; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; border-radius: 0px;
    border: 0px solid transparent; border-top-color: transparent;border-right-color: transparent;    border-bottom-color: transparent;
        border-left-color: transparent; position: relative;}
.nav_top .navbar-toggler {padding: 5px 8px; border-radius: 4px;}
.nav_top .navbar-toggler .icon-bar + .icon-bar {margin-top: 7px;}
.nav_top .navbar-toggler.showtoggle {padding-left: 10px !important;}


.logon_btn_div{right: 69px;}
.header_sec .navbar-brand{margin-left: 15px;}
.header_sec .navbar-collapse{position: absolute; width: 100%; background: #fff; top: 100%; left: 0; z-index: 99;}
.header_sec .container{padding: 0;}
.header_sec{padding: 0;}
.mar_top {
  margin-top: 46px;
}
.menu_sec {
  padding: 5px 15px 10px;
}
.menu_sec li{margin-top: 9px;}

.ban_img_inr::before {
  width: 306px;
  height: 187px;
}
.ban_img_inr img {
  width: 224px;
}
.ban_tex_inr {
  width: 498px;
}
.ban_tex_inr p br{display: none;}
.ban_tex_inr h6 {
  font-size: 34px;
  line-height: 44px;
}
.ban_tex_inr .pag_arwbtn {
  padding: 0 8px;
  font-size: 12px;
}


.patint_detl_inr li{margin-right: 17px;}
.patint_detl_inr .media-body h3 {
  font-size: 18px;
}
.patint_detl_inr .media-body p {
  font-size: 14px;
  line-height: 22px;
}


.pag_hed h1, .pag_hed h1, .pag_hed h2, .pag_hed h3, .pag_hed h4, .pag_hed h5 {
  font-size: 30px;
}
.pag_hed p {
  font-size: 15px;
  line-height: 25px;
  margin-top: 10px;
}
.why_choose_sec {
  padding: 32px 0 34px;
}
.why_choose_bx em img{ width: 70px; }
.why_choose_bx h4{font-size: 17px;}
.why_choose_bx p {
  font-size: 14px;
  line-height: 22px;
  margin-top: 6px;
}
.why_choose_panel .col-sm-4::before{height: 3px;}
.vedio_sec {
  padding: 20px 0 24px;
}

.videoBox > img {
  width: 600px;
  height: 309px;
}
.playIcon img{width: 100px;}

.popular_products_sec {
  padding: 23px 0 40px;
}


.award_winning_img img {
  height: 350px;
}
.award_winning_text h4 {
  font-size: 38px;
  line-height: 42px;
}
.award_winning_text p br{display: none;}
.award_winning_text p {
  font-size: 14px;
  line-height: 26px;
  margin-top: 11px;
}

.award_winning_text li {
  margin-top: 12px;
  font-size: 15px;
  line-height: 23px;
  padding-left: 45px;
}
.clients_say_sec {
  padding: 30px 0 18px;
}

.news_text h4 {
  font-size: 15px;
  line-height: 18px;
}
.news_text {
  padding: 18px 0 0;
}
.news_text em {
  margin-top: 7px;
  font-size: 13px;
  line-height: 23px;
}
.news_text p {
  font-size: 13px;
  line-height: 21px;
  margin-top: 7px;
}
.news_text .pag_arwbtn {
  margin-top: 13px;
  }
.news_img img{height: 193px;}
.news_time h6 {
  font-size: 20px;
}
.news_time span{font-size: 14px;}
.news_time{right: 7px;
top: 8px;
min-width: 75px;padding: 3px 2px;}


.faq_sec {
  padding: 25px 0 38px;
}
.faq_inr {
  padding: 0 59px;
}
.faq_inr .card-header a {
  padding-top: 20px;
  padding-bottom: 11px;
  font-size: 16px;
      background-position: right 5px top 21px !important;
}


.footer_top_right li a{width: 28px;
height: 28px;line-height:28px;font-size: 17px;}
.footer_top_right span{margin-right: 18px;}

.footer_body .col-sm-3:first-child {
  flex: 0 0 100%;
  max-width: 100%;
}
.footer_body .col-sm-3:nth-child(1){
  border-right:0;
}
.footer_body .col-sm-3{
  flex: 0 0 30%;
  max-width: 30%;
}
.footer_body .col-sm-3:last-child  {
  flex: 0 0 40%;
  max-width: 40%;
}
.footer_bx{padding-bottom: 0; padding-top: 20px;}
.footer_body_inr{padding-bottom: 20px;}

/*search page start*/
.search_fitar_inr .col-sm-2 {
  padding: 0 7px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.filtar_input{margin-top: 6px;}
.slider_rnge {
  margin-top: 17px;
  padding-left: 9px;
}
.search_fitar_inr .col-sm-2 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.fil_btn_wi{-ms-flex: 0 0 100% !important;
  flex: 0 0 100% !important;
  max-width: 100% !important;}
.filter_btn{width: 100%; margin-top: 15px;}
.search_hed h1 {
  font-size: 20px;
  line-height: 26px;
}

/*search page start*/
.product_details_right_foot{flex-direction: column;justify-content: flex-start;}
.share_cc{margin-top: 10px;}
.product_details_right h1 {
  font-size: 23px;
  line-height: 22px;
}
.inclusive_tex {
  font-size: 21px;
}
#ninja-slider .ns-img {
  background-size: 198px auto;
  }
.product_details_right{padding-left: 20px;}


/*--------15.02.2022-sayanti----*/
.upper-login h2 {
    font-size: 23px;
    margin-bottom: 8px;
}
.upper-login p {
    font-size: 14.6px;
    line-height: 18px;
}
.login_sec {
    padding: 25px 0;
}

.input_fields input {
    padding: 0 15px;
    font-size: 14px;
}
.input_fields {
    margin-bottom: 8px;
}
.upper-login {
    padding: 15px 15px 25px;
}
.remmber-area .list_checkBox , .forgot-passwords{
  font-size: 14px;
}
.sing_button .see_cc {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
}
.lower-login {
    padding: 15px 15px 15px;
}
.signin_btns a {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    margin-top: 8px;
}


.registr_head {
    font-size: 19px;
    margin-bottom: 6px;
}
.upper-login .input_fields h2{
  font-size: 16px;
}
.upper-login .list_checkBox p{
  line-height: 22px;
}
.list_registration_qus h4 {
    font-size: 15px;
    margin-bottom: 7px;
}
.list_checkBox{
  font-size: 15px;
}
.uplodimgfilnew{
  padding: 15px;
}
.uplodimgfilnew label p , .uplodimgfilnew label span{
  font-size: 15px;
}
.subm_btns {
    height: 43px;
    font-size: 16px;
    padding: 0 25px;
    line-height: 45px;
}
.input_fields label{
  font-size: 14.5px;
}
.input-from .col-12, .input-from .col-sm-6, .input-from .col-lg-12, .input-from .col-sm-12 {
    padding: 0 15px;
}


.cart_topics h2 , .summary-title , .checkout_add h3{
    font-size: 20px;
    padding-bottom:10px;
    margin-bottom: 15px;
}

.cart_info h3{
  font-size: 16px;
  line-height: 22px;
  flex-wrap: wrap;
}
.cart_info h3 span {
    margin-left: 15px;
    font-size: 10px;
    padding: 0 3px;
}
.cart_info em {
    font-size: 13px;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cart_left{
  width: 95%;
}

.cart_quan {
    margin-top:10px;
}
button.decrement-quantity, button.increment-quantity, button.decrement-quantity1, button.increment-quantity1, button.decrement-quantity2, button.increment-quantity2 {
   
    width: 25px;
    height: 25px;
}
.product-quantity input {
    height: 20px;
}
.product-quantity input{
  font-size: 16px;
}
.summary-cart {
    padding: 15px;
    margin-top: 20px;
}
.cart_summary_info p{
  font-size: 15px;
}
.cart_summary_info{
  margin-bottom: 0;
}
.total_cart_div h1{
  font-size: 18px;
  line-height: 22px;
}
.total_cart_div {
    padding: 10px 0;
    margin: 14px 0;
}
.cart_btns a {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 7px;
}
.cart_sec {
    padding: 18px 0 30px;
}
.cart_info {
    width: calc(100% - 41px);
}
.cart_topics{
  margin-bottom: 15px;
}
.new-amatr{
  margin-top: 0;
  margin-bottom: 15px;
}

/*dashbord pages start*/
.aft_login{padding: 14px 15px;}
.mobile_menu{display: block !important;}
.dashbord_left {
  width: 100%;
}
.dashbord_left_ir {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  z-index: 8;
  padding-top: 8px;
  background: #fff;
  padding: 6px;
  border: solid 1px #eee;
  display: none;
}
.dashbord_left{position: relative;}

.dashbord_right {
  padding-left: 0;
  width: 100%;
}
.dashbord_left_top{float: left; width: 50%;}
.dash_pro_link {
  float: right;
  width: 48%;
  margin-left: 6px;
  margin-top: 0;
}
.dashbord_right_ir{margin-top: 15px;}
.dashbord_right_ir h1, .dashbord_right_ir h2 {
  font-size: 20px;
}
.tit_bx h4{font-size: 18px;margin-top: 14px;}
.dashbord_input {
  margin-top: 10px;
}
.dashbord_input label {
  font-size: 15px;
}
.dashbord_input input, .dashbord_input select, .dashbord_input textarea{font-size: 15px;}
.log_hed_pro{top: -7px;}

.only_shawo {
  display: none !important;
}
.small_screen31{border: 1px solid #dfdfdf;}
.W55_1 {
  display: inline-block;
  width: 100%;
  float: left;
  font-size: 12px;
  color: #9d9fa2;
  line-height: 23px;
  font-weight: 500;
}
.add_ttrr {
  width: 100%;
  display: inline-block;
}
.small_screen31 {
  margin-bottom: 15px;
  width: 50%;
  float: left;
  border: 1px solid #dfdfdf;
  padding: 0;
}
.tab_head_sheet_1 {
  padding: 3px 7px;
  height: auto;
  display: initial !important;
  float: left;
  width: 100% !important;
  text-align: left;
  border-top: 1px solid #eaeaea;
  min-height: 37px;
  border-bottom: 1px solid #e9e9e9;
}
.pro_tdl{width: 100%;display: inline-block; margin-top: 3px;}
.dashbord_sec{padding: 26px 0 30px;}
.about-title h5 {
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
}

.about-title h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
}
.about-text p {
    padding-right: 0px;
    font-size: 14.5px;
    line-height: 24px;
    margin-top: 6px;
}
.single-item .mv-icon {
    width: 50px;
}
.mv-title {
    width: calc(100% - 50px);
}
.mv-title p {
    padding-right:0px;
    font-size: 13.7px;
    line-height: 22px;
}
.about-area {
    padding: 40px 0 40px;
}
.row.align-items-center.new_align-roes {
    align-items:flex-start !important;
}
.mv-title h3 {
    font-size: 18px;
    margin-bottom: 1px;
}
.about-front-img {
    margin-top: 25px;
    margin-right: 0px;
}
.our-destination {
    margin-top: 20px;
}
.single-item {
    display: flex;
    align-items: flex-start;
    margin-top: 18px;
}


.orders_table{
  flex-wrap: wrap;
  padding: 8px 8px;
}
.orders_infos.text-right{
  text-align: left !important
}
.dash_inputs{
  margin-bottom: 10px;
}
.orders_infos p , .orders_infos span{
  font-size: 14.5px;
  line-height: 20px;
}
.order_tm {
    padding: 4px 4px;
}
.orders_infos {
    padding:0 5px 8px;
}
.add_ttrr.actions-main{
  margin-right: 15px;
}
.pagination_bx li a {
    width: 32px;
    height: 32px;
    line-height: 30px;
        margin-right: 1px;
    }
    .pagination_bx {
    padding-top:8px;
}



.contact-from {
    margin-bottom: 0px;
    padding: 15px 15px;
    margin-top: 25px;
}

.ne_pg_btns {
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    font-size: 16px;
}
.cont-box img {
    margin-right: 10px;
    width: 31px;
}
.cont-box h3 {
    font-size: 15.5px;
    margin-bottom: 2px;
}
.cont-box p, .cont-box p a {
    font-size: 14.5px;
    line-height: 26px;
}
.cont-box {
    margin-bottom: 15px;
}
.iframe_divs {
    margin-top: -31px;
    border-radius: 6px;
}
.help_sec .faq-tbs li {
    padding-top: 6px;
    margin-right: 8px;
    text-align: center;
}
.help_sec .faq-tbs li a {
    font-size: 15px;
    padding: 4px 7px;
}
.help_sec .faq-tbs ul {
    padding-right: 0px;
}
.faq-tbs {
    padding-top:15px;
}
.sign_btn_bx{
  top: 43px;
  width: 280px;
}
.sign_btn_bx a {
    padding: 6px 7px 6px 7px;
}
.sign_btn_bx li {
    font-size: 14px;
}.sign_btn_bx{
  top: 43px;
  width: 280px;
}
.sign_btn_bx a {
    padding: 6px 7px 6px 7px;
}
.sign_btn_bx li {
    font-size: 14px;
}
} 

 
/*991px*/


 
@media only screen and (max-width: 767px){
.page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6 {
  font-size: 27px;
  line-height: 36px;
}

.rel_products_sec .container{max-width: 100%;}
.container{max-width: 100%;}
.header_sec .navbar-brand img{width: 200px;}
.ban_img_sec {
  position: relative;
float: inherit;
bottom: inherit;
top: 0;
}
.ban_img_inr{text-align: center; width: 100%;padding-top: 48px;}
.ban_tex_sec {
  position: relative;
  top: 0;
  transform: translateY(0%);
  text-align: center;
  padding: 20px 0;
}
.banar_sec {
  height: auto;
}
.ban_img_inr::before{right: inherit; 
 right: inherit;
left: 50%;
-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
transform: translateX(-50%);
background: #fff;
border-radius: 100% 100% 0 0;
top: 24px;
width: 262px;
}
.ban_tex_inr {
  width: 100%;
}
.ban_img_inr em {
  padding-right: 0;
}
.ban_tex_inr h5 {
  font-size: 14px;
  line-height: 18px;
}
.ban_tex_inr h6 {
  font-size: 28px;
  line-height: 37px;
  margin-top: 9px;
}
.ban_tex_inr p {
  font-size: 14px;
  line-height: 21px;
  margin-top: 7px;
}
.ban_tex_inr .pag_arwbtn img{display: none;}
.patint_detl_inr li {
  margin-right: 0;
  width: 50%;
  float: left;
  margin-top: 10px;
  padding: 0 5px;
}
.patint_detl_inr .media-body h3 {
  font-size: 18px;
  line-height: 23px;
}


.why_choose_sec {
  padding: 26px 0 30px;
}

.pag_hed h1, .pag_hed h1, .pag_hed h2, .pag_hed h3, .pag_hed h4, .pag_hed h5 {
  font-size: 28px;
  line-height: 39px;
}
.pag_hed p br{display: none;}

.why_choose_panel .col-sm-4{-ms-flex: 0 0 100%; flex: 0 0 100%;
max-width: 100%;}

.videoBox > img {
  width: 400px;
  height: 214px;
}
.vedio_sec {
  padding: 16px 0 22px;
}
.playIcon img {
  width: 69px;
}
.popular_products_bx .pag_arwbtn{font-size: 13px;}
.fev {
  right: 5px;
  top: 9px;
}
.popular_products_sec .owl-dots {
  margin-top: 6px;
}
.popular_products_sec {
  padding: 21px 0 27px;
}

.award_winning_text h4 {
  font-size: 30px;
  line-height: 37px;
  margin-top: 5px;
}
.award_winning_text li img{width: 18px;}
.award_winning_text li {
  margin-top: 10px;
  font-size: 15px;
  line-height: 20px;
  padding-left: 25px;
}
.clients_say_sec .owl-prev {
  left: -12px;
}
.clients_say_sec .owl-next {
  right: -12px;
}

.news_sec {
  padding: 23px 0 29px;
} 

.news_inr .col-sm-4{-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;}
.news_text h4 {
  font-size: 18px;
  line-height: 25px;
}
.news_text em {
  margin-top: 8px;
  font-size: 14px;
  line-height: 25px;
}
.news_text p {
  font-size: 14px;
  line-height: 22px;
  margin-top: 8px;
}

.faq_inr {
  padding: 0 30px;
}
.footer_top_left img{width: 200px;}
.footer_body .col-sm-3:last-child {
  flex: 0 0 50%;
  max-width: 50%;
}
.footer_body .col-sm-3 {
  flex: 0 0 20%;
  max-width: 20%;
}
.footer_bx h4 {
  font-size: 16px;
}
.footer_body .col-sm-3:nth-child(4) .footer_bx li{font-size: 13px;}
.footer_bot_left{width: 100%;}
.footer_bot_inr{padding: 10px 0;  flex-direction: column;  text-align: center;}
.footer_bx p {
  margin-top: 7px;
}
.footer_body .col-sm-3:nth-child(4) .footer_bx li {
  margin-top: 9px;
  }
/*search page start*/
.filter_cc{display: none;}
.mobile-list, .mobile_menu {display: block !important;}
#filter_bx{display: none;}
.search_filtar_inr {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 8;
    padding-top: 8px;
    background: #fff;
    padding: 6px;
border: solid 1px #eee;
}
.search_body .col-sm-2 {
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  max-width: 33.333%;
}
.search_hed h1 {
  font-size: 17px;
  line-height: 24px;
}
.search_sec {
  padding: 23px 0 44px;
}
.search_body {
  margin-top: 0;
}
.sort_bx span{font-size: 14px;margin-right: 6px;}
.sort_bx select {
  width: 158px;
}

/*search page start*/
.product_details_left {
  width: 100%;
}
.product_details_right {
  padding-left: 0;
  width: 100%;
}
.product_details_right_foot {
  flex-direction: row;
  justify-content: space-between;
}
#thumbnail-slider {
  width: 11%;
}
#ninja-slider {
  width: 89%;
}
.product_details_right{padding-top: 10px;}


.dash_inputs input, .dash_inputs select, .dash_inputs textarea {
    height: 40px;
    padding: 0 10px;
    font-size: 15px;
}
.find_bttns {
    height: 40px;
    font-size: 15px;
    padding: 0 18px;
    margin-top:5px;
}
.orders_table{
  flex-wrap: wrap;
  padding: 8px 8px;
}
.orders_infos.text-right{
  text-align: left !important
}
.dash_inputs{
  margin-bottom: 10px;
}
.orders_infos p , .orders_infos span{
  font-size: 14px;
  line-height: 20px;
}
.order_tm {
    padding: 4px 4px;
}
.orders_infos {
    padding:0 5px 8px;
}
.add_ttrr.actions-main{
  margin-right: 15px;
}
.add_ttrr.actions-main {
    text-align: center;
}
.contact-from {
    margin-bottom: 0px;
    padding: 15px 15px;
    margin-top: 25px;
}
.contact_inputs label {
    font-size: 15px;
}
.contact_inputs input, .contact_inputs select, .contact_inputs textarea {
    height: 43px;
    padding: 0 10px;
    padding-left: 57px;
    font-size: 14.5px;
}
.contact_inputs i {
    line-height: 40px;
    font-size: 14px;
    height: 43px;
}
.contact_inputs {
    margin-bottom: 10px;
}
.contact_inputs textarea {
    height: 100px;
    padding-top: 10px;
}
.contact_inputs .text-i i{
  height: 100px;
}
.ne_pg_btns {
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    font-size: 16px;
}
.cont-box img {
    margin-right: 15px;
    width: 37px;
}
.cont-box h3 {
    font-size: 17px;
    margin-bottom: 2px;
}
.cont-box p, .cont-box p a {
    font-size: 15px;
    line-height: 28px;
}
.cont-box {
    margin-bottom: 15px;
}
.iframe_divs {
    margin-top: -31px;
    border-radius: 6px;
}
.faq_inr .card-header a {
    padding-top: 19px;
    padding-bottom: 13px;
    font-size: 15px;
    background-position: right 5px top 23px !important;
}
.faq_inr .card-body p {
    font-size: 14px;
    line-height: 22px;
    color: #4A5055;
    margin-top: 9px;
}

.help_sec .faq-tbs li {
    padding-top: 6px;
    margin-right: 8px;
    width: calc(25% - 8px);
    text-align: center;
}
.help_sec .faq-tbs li a {
    font-size: 15.5px;
    padding: 4px 5px;
}
.help_sec .faq-tbs ul {
    padding-right: 0px;
}
.faq-tbs {
    padding-top:15px;
}
.banar_sec {
    width: 100%;
    background: linear-gradient(265.15deg, #e166af -0.31%, #ff9ed8 100.83%);
    }
}
/*767px*/

@media only screen and (max-width: 727px){
#thumbnail-slider {
  width: 15%;
}
#ninja-slider {
  width: 85%;
}

/*--------15.02.2022-sayanti----*/
.upper-login h2 {
    font-size: 23px;
    margin-bottom: 8px;
}
.upper-login p {
    font-size: 14.6px;
    line-height: 18px;
}
.login_sec {
    padding: 25px 0;
}

.input_fields input {
    padding: 0 15px;
    font-size: 14px;
}
.input_fields {
    margin-bottom: 8px;
}
.upper-login {
    padding: 15px 15px 25px;
}
.remmber-area .list_checkBox , .forgot-passwords{
  font-size: 14px;
}
.sing_button .see_cc {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
}
.lower-login {
    padding: 15px 15px 15px;
}
.signin_btns a {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    margin-top: 8px;
}


.registr_head {
    font-size: 19px;
    margin-bottom: 6px;
}
.upper-login .input_fields h2{
  font-size: 16px;
}
.upper-login .list_checkBox p{
  line-height: 22px;
}
.list_registration_qus h4 {
    font-size: 15px;
    margin-bottom: 7px;
}
.list_checkBox{
  font-size: 15px;
}
.uplodimgfilnew{
  padding: 15px;
}
.uplodimgfilnew label p , .uplodimgfilnew label span{
  font-size: 15px;
}
.subm_btns {
    height: 43px;
    font-size: 16px;
    padding: 0 25px;
    line-height: 45px;
}
.input_fields label {
    font-size: 13.6px;
}

.cart_topics {
    padding: 15px;
}
.cart_topics h2 , .summary-title , .checkout_add h3{
    font-size: 18px;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

.cart_left span {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.cart_info h3{
  font-size: 15px;
  line-height: 20px;
  flex-wrap: wrap;
}
.cart_info h3 span {
    margin-left: 6px;
    font-size: 10px;
    padding: 0 3px;
}
.cart_info em {
    font-size: 12px;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.cart_info ul li , .cart_info ul li.pp_list{
  font-size: 14px;
}
.cart_left{
  width: 95%;
}

.cart_quan {
    margin-top:10px;
}
button.decrement-quantity, button.increment-quantity, button.decrement-quantity1, button.increment-quantity1, button.decrement-quantity2, button.increment-quantity2 {
    
    width: 25px;
    height: 25px;
}
.product-quantity input {
    height: 20px;
}
.product-quantity input{
  font-size: 16px;
}
.summary-cart {
    padding: 15px;
    margin-top: 20px;
}
.cart_summary_info p{
  font-size: 15px;
}
.cart_summary_info{
  margin-bottom: 0;
}
.total_cart_div h1{
  font-size: 18px;
  line-height: 22px;
}
.total_cart_div {
    padding: 10px 0;
    margin: 14px 0;
}
.cart_btns a {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 7px;
}
.cart_sec {
    padding: 18px 0 30px;
}
.cart_info {
    width: calc(100% - 41px);
}
.input-section-check .form-group label{
  font-size: 14px;
  margin-bottom: 4px;
}
.form-group {
    margin-bottom: 0.5rem;
}

.cart_topics{
  margin-bottom: 15px;
}
.new-amatr{
  margin-top: 0;
  margin-bottom: 15px;
}

/*dashbord pages start*/
.dashbord_left_top .media-body p{font-size: 13px;}
.dashbord_left_top .media-body h4 {
  font-size: 18px;
}
.profidropdid li a {
  padding: 4px 19px;
}
.profidropdid{width: 175px;}
.dashbord_favorites .col-sm-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.small_screen31{width: 100%;}
.order_summary_tx li{font-size: 14px;}
.order_summary_tx span{width: auto;}
.order_summary_tx em{width: auto;}
.order_summary_bx h3 {
  font-size: 17px;
}
.delivery_summary_tx b{font-size: 16px;}

.last_order_bx {
  padding-right: 10px;
  width: 50%;
  margin-top: 10px;

}
.last_order_left{-ms-flex-wrap: wrap;
flex-wrap: wrap;}
.stas_dv{text-align: left;}
.last_order_right {
  width: 100%;
}
.total_order_bx .col-sm-4{-webkit-box-flex: 0;
-ms-flex: 0 0 50%;
flex: 0 0 50%;
max-width: 50%;}
.total_order_item{margin-top: 10px;}
.total_order_bx {
  padding: 14px 0 20px;
}

.about_us_ban img {
    height: 150px;
}


.about-title h5 {
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
}

.about-title h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
}
.about-text p {
    padding-right: 0px;
    font-size: 14.5px;
    line-height: 24px;
    margin-top: 10px;
}
.single-item .mv-icon {
    width: 70px;
}
.mv-title {
    width: calc(100% - 70px);
}
.mv-title p {
    padding-right:0px;
    font-size: 13.7px;
    line-height: 24px;
}
.new_align-roes {
    flex-direction: column-reverse;
}
.mv-title h3 {
    font-size: 20px;
    margin-bottom: 4px;
}
.about-front-img {
    margin-top: 25px;
    margin-right: 0px;
}
.our-destination {
    margin-top: 20px;
}


}


/*727px*/

@media only screen and (max-width: 680px){
  .help_sec .faq-tbs li {
    width: calc(33.33% - 8px);
}
  }

@media only screen and (max-width: 575px){ 

.header_sec .navbar-brand img {
  width: 149px;
}
.ban_img_inr img {
  width: 140px;
}
.ban_img_inr::before{top: 12px;
width: 154px;
height: 128px;}
.ban_img_inr{padding-top: 38px;}
.pag_hed h1, .pag_hed h1, .pag_hed h2, .pag_hed h3, .pag_hed h4, .pag_hed h5 {
  font-size: 25px;
  line-height: 36px;
}

.why_choose_sec {
  padding: 20px 0 26px;
}
.why_choose_bx {
  padding: 18px 12px 18px;
}
.clients_text {
  min-height: auto;
}
.footer_body .col-sm-3 {
  flex: 0 0 50%;
  max-width: 50%;
}
.footer_body .col-sm-3:last-child {
  flex: 0 0 100%;
  max-width: 100%;
}
.footer_bx {
  padding-top: 7px;
}
.footer_top_left img {
  width: 155px;
}

/*search page start*/
.search_body .col-sm-2 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.search_hed h1 {
  font-size: 15px;
  line-height: 23px;
}
.sort_bx span {
  font-size: 13px;
  margin-right: 6px;
}
.sort_bx select {
  width: 140px;
  padding: 0 3px;
  background-position: right 5px center !important;
  padding-right: 16px;
}
.search_sec {
  padding: 16px 0 40px;
}

.product_details_right_foot .pag_arwbtn{height: 43px;
line-height: 43px;padding: 0 17px;}
.deta_tex_inr{margin-top: 20px;}
.deta_tex_inr{padding: 0 15px 0;}
.deta_tex_inr h4 {
  margin-top: 19px;
  font-size: 16px;
}
.deta_tex_inr p {
  margin-top: 6px;
  font-size: 14px;
  line-height: 24px;
  }
.inclusive_tex {
  font-size: 19px;
}
.sele_numb_bx{margin-top: 8px;}
.compostion_sec{margin-top: 2px;}
.product_details_right h1 {
  font-size: 20px;
  line-height: 22px;
}




/*--------15.02.2022-sayanti----*/
.upper-login h2 {
    font-size: 20px;
    margin-bottom: 8px;
}
.upper-login p {
    font-size: 14px;
    line-height: 18px;
}
.login_sec {
    padding: 25px 0;
}
.input_fields label {
    font-size: 14px;
    margin-bottom: 3px;
}
.input_fields input {
    padding: 0 15px;
    font-size: 14px;
}
.input_fields {
    margin-bottom: 8px;
}
.upper-login {
    padding: 15px 15px 25px;
}
.remmber-area .list_checkBox , .forgot-passwords{
  font-size: 14px;
}
.sing_button .see_cc {
    height: 42px;
    line-height: 42px;
    font-size: 15px;
}
.lower-login {
    padding: 10px 15px 15px;
}
.signin_btns a {
    height: 41px;
    line-height: 41px;
    font-size: 13.5px;
    margin-top: 8px;
}


.registr_head {
    font-size: 19px;
    margin-bottom: 6px;
}
.upper-login .input_fields h2{
  font-size: 16px;
}
.upper-login .list_checkBox p{
  line-height: 22px;
}
.list_registration_qus h4 {
    font-size: 15px;
    margin-bottom: 7px;
}
.list_checkBox{
  font-size: 15px;
}
.uplodimgfilnew{
  padding: 15px;
}
.uplodimgfilnew label p , .uplodimgfilnew label span{
  font-size: 15px;
}
.subm_btns {
    height: 43px;
    font-size: 16px;
    padding: 0 25px;
    line-height: 45px;
}
.cart_topics {
    padding: 15px;
}
.cart_topics h2 , .summary-title , .checkout_add h3{
    font-size: 17px;
    padding-bottom: 7px;
    margin-bottom: 10px;
}
.cart_items{
  flex-wrap: wrap;
  position: relative;
}
.cart_left span {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.cart_info h3{
  font-size: 15px;
  line-height: 20px;
  flex-wrap: wrap;
}
.cart_info h3 span {
    margin-left: 6px;
    font-size: 10px;
    padding: 0 3px;
}
.cart_info em {
    font-size: 12px;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.cart_info ul li , .cart_info ul li.pp_list{
  font-size: 14px;
}
.cart_left{
  width: 95%;
}
.cart_right a {
    margin-right: 0;
    position: absolute;
    top: -4px;
    right: 0;
}
.cart_quan {
    margin-top:10px;
    margin-left:37px;
}
button.decrement-quantity, button.increment-quantity, button.decrement-quantity1, button.increment-quantity1, button.decrement-quantity2, button.increment-quantity2 {
    
    width: 25px;
    height: 25px;
}
.product-quantity input {
    height: 20px;
}
.product-quantity input{
  font-size: 16px;
}
.summary-cart {
    padding: 15px;
    margin-top: 20px;
}
.cart_summary_info p{
  font-size: 15px;
}
.cart_summary_info{
  margin-bottom: 0;
}
.total_cart_div h1{
  font-size: 18px;
  line-height: 22px;
}
.total_cart_div {
    padding: 10px 0;
    margin: 14px 0;
}
.cart_btns a {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 7px;
}
.cart_sec {
    padding: 18px 0 30px;
}
.cart_info {
    width: calc(100% - 41px);
}
.br_camp li {
    padding-right: 12px;
    padding-left: 8px;
    font-size: 13.4px;
}
.input-section-check .form-group label{
  font-size: 14px;
  margin-bottom: 4px;
}
.form-group {
    margin-bottom: 0.5rem;
}
.list_checkBox p.new_label{
  font-size: 14px;
}
.cart_topics{
  margin-bottom: 15px;
}
.new-amatr{
  margin-top: 0;
  margin-bottom: 15px;
}

/*dashbord pages start*/
.dashbord_left_top {
  width: 100%;
  float: inherit;
}
.dash_pro_link {
  float: inherit;
  width: 100%;
  margin-top: 10px;
}
.order_summary_tx, .delivery_summary_tx {
  min-height: auto;
}
.dashbord_frm{padding: 0 15px 14px;}
.save_adres_bx{margin: 0 -15px; margin-top: 15px;}
.total_order_bx .col-sm-4{-webkit-box-flex: 0;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;}

.about_us_ban img {
    height: 145px;
}
.abt_ban_text_bx h1, .abt_ban_text_bx h2 {
    font-size: 24px;
    line-height: 20px;
}
.abt_ban_text_bx li {
    padding-left: 18px;
    padding-right: 5px;
}
.abt_ban_text_bx li a {
    font-size: 16px;
}
.abt_ban_text_bx ul {
    margin-top: 10px !important;
}
.about-area {
    padding: 40px 0 50px;
}
.new_align-roes{
  flex-direction: column-reverse;
}
.about-title h5 {
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
}

.about-title h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
}
.about-text p {
    padding-right: 0px;
    font-size: 14.5px;
    line-height: 24px;
    margin-top: 10px;
}
.single-item .mv-icon {
    width: 50px;
}
.mv-title {
    width: calc(100% - 50px);
}
.mv-title p {
    padding-right:0px;
    font-size: 13.7px;
    line-height: 24px;
}
.mv-title h3 {
    font-size: 20px;
    margin-bottom: 4px;
}
.about-front-img {
    margin-top: 25px;
    margin-right: 0px;
}
.our-destination {
    margin-top: 20px;
}


.dash_inputs label{
  font-size: 15px;
  margin-bottom: 2px;
}
.dash_inputs input, .dash_inputs select, .dash_inputs textarea {
    height: 40px;
    padding: 0 10px;
    font-size: 15px;
}
.find_bttns {
  width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 0 18px;
    margin-top:5px;
}
.orders_table{
  flex-wrap: wrap;
  padding: 8px 8px;
}
.orders_infos.text-right{
  text-align: left !important
}
.dash_inputs{
  margin-bottom: 10px;
}
.orders_infos p , .orders_infos span{
  font-size: 13.4px;
  line-height: 20px;
}
.order_tm {
    padding: 4px 4px;
}
.orders_infos {
    padding:0 5px 8px;
}
.add_ttrr.actions-main{
  margin-right: 15px;
}


.contact-from {
    margin-bottom: 0px;
    padding: 15px 15px;
    margin-top: 25px;
}
.contact_inputs label {
    font-size: 15px;
}
.contact_inputs input, .contact_inputs select, .contact_inputs textarea {
    height: 43px;
    padding: 0 10px;
    padding-left: 57px;
    font-size: 14.5px;
}
.contact_inputs i {
    line-height: 40px;
    font-size: 14px;
    height: 43px;
}
.contact_inputs {
    margin-bottom: 10px;
}
.contact_inputs textarea {
    height: 100px;
    padding-top: 10px;
}
.contact_inputs .text-i i{
  height: 100px;
}
.ne_pg_btns {
    height: 42px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 16px;
}
.cont-box img {
    margin-right: 10px;
    width: 31px;
}
.cont-box h3 {
    font-size: 16px;
    margin-bottom: 2px;
}
.cont-box p, .cont-box p a {
    font-size: 14.5px;
    line-height: 24px;
}
.cont-box {
    margin-bottom: 15px;
}
.iframe_divs {
    margin-top: -31px;
    border-radius: 6px;
}

.help_sec .faq-tbs li {
    padding-top: 6px;
    margin-right: 8px;
    width: calc(33.33% - 8px);
    text-align: center;
}
.help_sec .faq-tbs li a {
    font-size: 15px;
    padding: 4px 5px;
}
.help_sec .faq-tbs ul {
    padding-right: 0px;
}
.faq-tbs {
    padding-top: 5px;
}
.sign_btn_bx{
  top: 43px;
  width: 280px;
}
.sign_btn_bx a {
    padding: 6px 7px 6px 7px;
}
.sign_btn_bx li {
    font-size: 14px;
}
} 

/*575px*/
@media only screen and (max-width: 480px){ 

.reg_ph{display: block;}
.reg_dex{display: none;}
.login_btn{margin-right: 0;padding: 0 10px;}
.logon_btn_div {
  right: 63px;
}
.header_sec .navbar-brand img {
  width: 145px;
}
.ban_tex_inr h6 br{display: none;}
.ban_tex_inr h6 {
  font-size: 23px;
  line-height: 30px;
  margin-top: 7px;
}
.ban_tex_inr p {
  font-size: 13px;
  line-height: 18px;
  margin-top: 4px;
}
.ban_tex_inr h5 {
  font-size: 12px;
  line-height: 14px;
}
.ban_ntn li{margin-right: 0;}
.ban_tex_inr .pag_arwbtn {
  padding: 0 4px;
  font-size: 10px;
  height: 28px;
  line-height: 28px;
  margin-right: 0;
  margin-top: 3px;
}
.ban_ntn {
  margin-top: 7px;
}
.videoBox > img {
  width: 380px;
}

.award_winning_text {
  width: 100%;
}
.award_winning_img {
  width: 100%;
}
.award_winning_inr{padding: 18px 15px 20px;}
.award_winning_text h4 {
  font-size: 23px;
  line-height: 33px;
  margin-top: 15px;
}
.faq_inr {
  padding: 0;
}
.faq_inr .card-header a {
  padding-top: 21px;
  padding-bottom: 10px;
}
.footer_top_right span{display: none;}
.foot_arw.fixed{bottom: 89px;
right: 10px;}

/*search page start*/
.search_fitar_inr .col-sm-2 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.sort_bx{margin-top: 10px;}

.product_details_right_foot {
  flex-direction: column;
  justify-content: flex-start;
}

.dashbord_favorites .col-sm-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.address_book_top h5{width: 100%;}
.edit_btn {
  padding-left: 0;
  margin-top: 5px;
}
.add_book_itam li{font-size: 14px;}

.help_sec .faq-tbs li {
    width: calc(50% - 8px);
}
} 
 
/*480px*/

@media only screen and (max-width: 427px){ 

#thumbnail-slider {
  width: 22%;
}
#ninja-slider {
  width: 78%;
}
  
}
@media only screen and (max-width: 400px){ 

.patint_detl_inr .media{flex-direction: column; text-align: center;align-items: center;}
.patint_detl_inr .media em{margin-right: 0; margin: 0 auto;}
.patint_detl_inr .media-body{margin-top: 4px;}
.patint_detl_inr li{margin-top: 17px;}
.videoBox > img {
  width: 100%;
}
.footer_top_left img {
  width: 130px;
}
.footer_top_right ul {
  padding: 14px 8px 14px;
}
.footer_top_right li{padding: 0 3px;}

.pag_hed h1, .pag_hed h1, .pag_hed h2, .pag_hed h3, .pag_hed h4, .pag_hed h5 {
  font-size: 22px;
  line-height: 34px;
}

/*search page start*/
.search_body .col-sm-2 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
/*--------15.02.2022-sayanti----*/
.signin_btns a {
    width: 96%;
    margin-right: 1%;
}
.signin_btns {
    flex-wrap: wrap;
}

/*dashbord pages start*/
.log_hed_pro span{font-size: 0;margin-left: 0;}
.add_book_itam li span{width: 100%; border: 0; padding: 0;}
.add_book_itam li em{width: 100%; border: 0; padding: 0;}
.add_book_itam li{border-top: solid 1px #ebecec; padding: 4px 10px;}
.add_book_itam li:first-child{border-top: 0;}
.add_book_itam{padding: 0;}
.last_order_bx {
  padding-right: 0px;
  width: 100%;
}
.dashbord_pg_top h6 {
  font-size: 16px;
}
.dashbord_pg_top h6 img{top: 1px;}
.dashbord_pg_top p{margin-top: 8px;}
.dashbord_pg_panel{padding-top: 15px;}


}


/*400px;*/

@media only screen and (max-width: 360px){ 


}