body{ padding: 0px; margin: 0px; list-style: none; font: 400 14px/27px 'Roboto', sans-serif; color:#000; }
p{padding: 0px; margin: 0px;}
a{padding: 0px; margin: 0px; outline: none;}
ul{ list-style: none; padding: 0px; margin: 0px;}
label{ list-style: none; padding: 0px; margin: 0px;}
ul li{ padding: 0px; margin: 0px;}
h1, h2, h3, h4, h5, h6{padding: 0px; margin: 0px;}
input[type="text"]::-webkit-placeholder { opacity: 1;  }
input[type="text"]::-moz-placeholder { opacity: 1;}
input[type="password"]::-webkit-placeholder { opacity: 1;}
input[type="password"]::-moz-placeholder { opacity: 1;}
input[type="search"]::-webkit-placeholder { opacity: 1;}
input[type="search"]::-moz-placeholder { opacity: 1;}
input[type="email"]::-webkit-placeholder { opacity: 1; }
input[type="email"]::-moz-placeholder { opacity: 1;}
input[type="tel"]::-webkit-placeholder { opacity: 1;}
input[type="tel"]::-moz-placeholder { opacity: 1;}
textarea::-moz-placeholder { opacity: 1;  }
textarea::-webkit-placeholder { opacity: 1;}
a:hover{ outline: none !important; text-decoration: none;}
a:active{ outline: none !important; text-decoration: none;}
button, a{ text-decoration: none !important;
 -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}

/*
font-family: 'Roboto', sans-serif;
font-family:'Coiny Regular';
font-family:'Circular Std Black';
 font-family:'Circular Std Bold';
font-family:'Circular Std Book';
font-family:'Circular Std Light';
font-family:'CircularStd-Medium';
*/

@font-face {
    font-family:'Coiny Regular';
    src: url('../fonts/Coiny Regular.eot');
    src: url('../fonts/Coiny Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Coiny Regular.woff2') format('woff2'),
        url('../fonts/Coiny Regular.woff') format('woff'),
        url('../fonts/Coiny Regular.svg#Coiny Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}


@font-face {
    font-family:'Circular Std Black';
    src: url('../fonts/CircularStd-Black.eot');
    src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Black.woff2') format('woff2'),
        url('../fonts/CircularStd-Black.woff') format('woff'),
        url('../fonts/CircularStd-Black.svg#CircularStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Circular Std Bold';
    src: url('../fonts/CircularStd-Bold.eot');
    src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Bold.woff2') format('woff2'),
        url('../fonts/CircularStd-Bold.woff') format('woff'),
        url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Circular Std Book';
    src: url('../fonts/CircularStd-Book.eot');
    src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Book.woff2') format('woff2'),
        url('../fonts/CircularStd-Book.woff') format('woff'),
        url('../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
    font-weight: 450;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Circular Std Light';
    src: url('../fonts/Circular Std Light.eot');
    src: url('../fonts/Circular Std Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circular Std Light.woff2') format('woff2'),
        url('../fonts/Circular Std Light.woff') format('woff'),
        url('../fonts/Circular Std Light.svg#Circular Std Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'CircularStd-Medium';
    src: url('../fonts/CircularStd-Medium.eot');
    src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Medium.woff2') format('woff2'),
        url('../fonts/CircularStd-Medium.woff') format('woff'),
        url('../fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}



.container{max-width: 1200px;}



.wrapper{ width: 100%;}
.panel-default > .panel-heading{ background: none !important; border: none !important; border-radius: 0px !important;}
.panel-default{ border-radius: 0px !important;}
.panel-default > .panel-heading + .panel-collapse > .panel-body{ background: none !important; border: none !important; border-radius: 0px !important;}
a:hover, a:focus{ text-decoration: inherit !important;}

.pag_hed{width: 100%; text-align: center;}
.pag_hed h1, .pag_hed h1, .pag_hed h2, .pag_hed h3, .pag_hed h4, .pag_hed h5{font-size: 33px;
line-height: 42px;color: #161718;font-family:'Circular Std Bold';font-weight: 700;}
.pag_hed p{color: #5B5C60;font-size: 17px; line-height: 26px; margin-top: 16px;}

/*header*/
.header_sec{ width: 100%; position: fixed; z-index:999; padding: 15px 0; background: #fff;}
.nav_top{ margin: 0px; padding: 0px; background: none; border: none; min-height: auto; box-shadow: none; border-radius: 0px;
position: relative;}
.drop-nav{ position: absolute; top: 10px; right: 0px;}
.nav_top .dropdown-menu li a{ font-size: 13px;}
.menu_sec{padding-right: 270px;}
.menu_sec li{padding: 0 10px;color: #161718;font-size: 16px;
line-height: 21px; font-family:'Circular Std Book'; }
.menu_sec li a{color: #161718; font-weight: 450;}
.logon_btn_div{position: absolute; right: 0; top: 50%; 
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
transform: translateY(-50%);
}
.logon_btn_div li{float: left;}
.login_btn{display: flex; align-items: center; font-weight: 450;
font-size: 16px; font-family:'Circular Std Book';color: #000000;height: 35px; line-height: 35px;
padding: 0 14px;border-radius: 3px; margin-right: 6px;}
.login_btn:hover{background: #f673c1; color: #fff;}
.login_img1{display: none;}
.login_btn:hover .login_img{display: none;}
.login_btn:hover .login_img1{display: block;}
.login_btn img{margin-right: 9px;}
.navbar-brand{padding: 0;}
.sign_btn{display: inline-block; font-weight: 450;
font-size: 16px; font-family:'Circular Std Book';color: #fff;height: 35px; line-height: 35px;
padding: 0 14px;border-radius: 3px;background: #f673c1; cursor: pointer; letter-spacing: 0.3px;}
.sign_btn:hover{background: #0D1F35;color: #fff;}
.menu_sec li a:hover{color: #f673c1;}
.reg_ph{display: none;}

/*banar section start*/
.banar_sec{width: 100%; background:linear-gradient(265.15deg, #c13e8c -0.31%, #f673c1 100.83%);
height: 523px; position: relative; overflow: hidden;}
.ban_tex_sec{position: absolute; width: 100%; top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
transform: translateY(-50%);
}
.ban_tex_inr{width: 730px;}
.ban_tex_inr h5{text-transform: uppercase; color: #fff;font-size: 24px; line-height: 29px; font-family:'Circular Std Bold';}
.ban_tex_inr h6{ color: #fff;font-size: 61px; line-height: 67px; font-family:'Circular Std Bold';
margin-top: 13px;}
.ban_tex_inr p{ color: #fff;font-size: 18px; line-height: 30px; font-family:'Circular Std Book';font-weight: 450;
margin-top: 20px;}
.ban_ntn li{display: inline-block; margin-right: 6px;}
.mar_top{width: 100%; margin-top: 54px; display: inline-block;}
.pag_arwbtn{display: inline-block;background: #0D1F35;
border-radius: 4px;height: 42px; line-height: 43px; padding: 0 17px;font-size: 17px; font-family:'Circular Std Book';font-weight: 450;
color: #fff;letter-spacing: 0.3px; margin-top: 22px;}
.pag_arwbtn img{margin-left: 6px;    margin-top: -1px;}
.pag_arwbtn:hover{ background: #f673c1;}
.ban_ntn .pag_arwbtn:hover{ background: #109599;}
.ban_ntn .pag_arwbtn{margin-top: 0;}
.ban_ntn {margin-top: 22px;}
.ban_img_sec{position: absolute; right: 0; bottom: 0; float: right;}
.ban_img_inr img{max-width: 100%; width: 624px;}
.ban_img_inr{position: relative;}
.ban_img_inr:before{position: absolute; bottom: -1px; right: -15px; background: url(../images/banpathbg.png)no-repeat;
width:820px; height: 505px; background-size: 100%;
content: "";}
.ban_img_inr em{position: relative; padding-right: 10px;}


/*patint detl section*/
.patint_detl_sec{width: 100%; padding: 16px 0 12px; background: #fff3fa;}
.patint_detl_inr{display: inline-block; width: 100%;}
.patint_detl_inr li{display: inline-block; margin-right: 36px;}
.patint_detl_inr .media em{display: inline-block;width: 45px;
height: 45px;background: #FFFFFF;
border: 1px solid #E6E8EA;
display: flex; justify-content: center; align-items: center;
margin-right:13px;border-radius: 4px;-moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.patint_detl_inr .media-body h3{font-weight: 500;font-size: 29px;color: #161718;
font-family:'CircularStd-Medium';}
.patint_detl_inr .media-body p{color: #161718; font-size: 17px; margin-top: 3px;font-family:'Circular Std Book';}
.patint_detl_inr .media em:hover{border-color:#1AB9BD;}



/*Why Choose Maxsthetica International */

.why_choose_sec{width: 100%; padding: 40px 0 50px; display: inline-block; }
.why_choose_panel{width: 100%; margin-top: 26px; border: 1px solid #EAEDED;border-bottom: 1px solid #EAEDED;}
.why_choose_bx{width: 100%; padding: 18px 14px 32px; text-align: center;}
.why_choose_panel .col-sm-4{border: 1px solid #EAEDED;-moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.why_choose_bx h4{color: #0D1F35;font-weight: 450;
font-size: 22px;
line-height: 28px; margin-top: 12px;}
.why_choose_panel .col-sm-4:last-child{border-right: solid 1px #EAEDED; }
.why_choose_bx h4 a{color: #0D1F35;font-family:'Circular Std Book';}
.why_choose_bx p{color: #696B6F;font-size: 15px;
line-height: 24px; margin-top: 13px;}
.why_choose_btn{width: 100%; text-align: center;}
.why_choose_btn .pag_arwbtn{margin-top: 22px;}
.why_choose_panel .col-sm-4:before{position: absolute; left: 0; bottom: 0px; width: 100%;background: #ECF1F2;
height: 7px;
content: "";
-moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;
}
.why_choose_panel .col-sm-4:hover:before{background: #f673c1;}


/*vedio section start*/
.vedio_sec{width: 100%; background: #fff3fa; padding: 25px 0 50px;}
.vedio_inr{width: 100%; margin-top: 13px;}

.videoBox{width: 100%; position: relative; text-align: center;}
.videoBox > img{width: 932px; height: 520px; object-fit: cover;border-radius: 8px;}
.playIcon{position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%); }



/*Popular Products*/

.popular_products_sec{width: 100%; display: inline-block; padding: 53px 0 70px;}
.popular_products_sec .container{max-width: 1500px;}
.popular_products_bx{position: relative; text-align: center; margin-top: 14px; padding: 14px 6px;
border: 1px solid #E6E6E6;border-radius: 8px; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; background: #fff;}
.popular_products_bx img{width: auto !important; max-width: 100%;}
.fev{position: absolute; right: 13px; top: 14px;}
.popular_products_sec .owl-item {
    padding: 15px;
}
.popular_products_bx em{display: inline-block; width: 100%; text-align: center;}
.popular_products_bx em img{margin: 0 auto;}
.popular_products_bx h4{letter-spacing: 0.01em;font-weight: 500;
font-size: 14px;
line-height: 21px;color: #354962;
margin-top: 9px;
}
.popular_products_bx h4 a{color: #354962;}
.popular_products_bx .pag_arwbtn{height: 34px; line-height: 34px; padding: 0 9px;font-family: Roboto;
font-weight: 400; margin-top: 10px; font-size: 14px;background: #f673c1; letter-spacing: 0.3px;}
.popular_products_bx:hover .pag_arwbtn{ background: #0D1F35;}
.popular_products_bx:hover{box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.12);}

.popular_products_sec .owl-nav {
    display: none !important;
}
.popular_products_sec .owl-dots {
    display: block !important;
    margin-top: 15px;
    width: 100%;
    text-align: center;
}
.popular_products_sec .owl-dot {
    width: 10px;
    height: 10px;
    background: #c4c4c4;
    display: inline-block;
    margin: 0 5px;
    border-radius: 100%;
    border: none;
}

.popular_products_sec .owl-dot.active {
    background: #0d1f35;
}

/*Award-winning service*/

.award_winning_sec{width: 100%; display: inline-block;}
.award_winning_inr{width: 100%; background: #0D1F35; border-radius: 8px; padding: 18px 18px 18px 27px;display: inline-block;}
.award_winning_img{float: right; width: 40%;}
.award_winning_img img{width: 100%; height: 440px;border-radius: 8px;
object-fit: cover;
}
.award_winning_text{float: left;width: 60%; padding-right: 20px;}
.award_winning_text h4{font-weight: bold; font-size: 51px; line-height: 55px; color: #fff;font-family:'Circular Std Bold';
margin-top: 35px;}
.award_winning_text p{font-family: Roboto;font-size: 18px;
line-height: 32px;color: #FFFFFF; margin-top: 18px;}
.award_winning_text ul{margin-top: 18px; display: inline-block;}
.award_winning_text li{margin-top: 16px;letter-spacing: 0.01em;font-size: 17px;
line-height: 24px; position: relative; padding-left: 50px;}
.award_winning_text li a:hover{color: #f673c1;}
.award_winning_text li a{color: #fff;}
.award_winning_text li img{position: absolute; left: 0; top: 3px;}


/*What Our Clients Say*/
.clients_say_sec{width: 100%; display: inline-block; padding: 66px 0 35px;}
.clients_bx img{width: auto !important;} 
.clients_say_inr{width: 100%;}
.clients_bx{margin-top: 22px;background: #FFFFFF;
border: 1px solid #DCDEDE;border-radius: 10px; padding: 23px 20px 15px;}
.clients_bx em img{max-width: 100%;}
.clients_text{width: 100%; min-height: 230px; padding-top: 14px;}
.clients_text p{font-size: 15px; line-height: 27px;font-family: Roboto;color: #333333;}
.clients_foot{width: 100%; margin-top: 12px; border-top: solid 1px #DCDEDE; padding-top: 15px;
display: flex; justify-content: space-between;}
.clients_foot_left{width: 60%;}
.clients_foot_left h4{font-family: Roboto; font-weight: 600;color: #333333;font-size: 19px;}
.clients_foot_left p{font-family: Roboto; font-weight: 400;color: #333333;font-size: 15px;
margin-top: 4px;}
.clients_foot_rig li{display: flex;}
.clients_foot_rig li span{ margin: 0 2px;}
.clients_foot_rig ul{margin-top: 2px;}


.clients_say_sec .owl-prev, .clients_say_sec .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
    height: 41px;
    background-size: 100%;
    font-size: 0 !important;
}
.clients_say_sec .owl-prev {
    left: -32px;
    background: url(../images/angle-left1.png)no-repeat;
}
.clients_say_sec .owl-next {
    right: -32px;
    background: url(../images/angle-right1.png)no-repeat;
}
.clients_say_sec .owl-prev:hover {
    background: url(../images/angle-left11.png)no-repeat;
}
.clients_say_sec .owl-next:hover {
    background: url(../images/angle-right11.png)no-repeat;
}
.clients_say_sec .owl-nav {
    display: block !important;
}
.clients_say_sec .owl-dots{
    display: none !important;
}


/*News section start*/
.news_sec{width: 100%; padding: 35px 0 50px; background: #fff3fa;}
.news_inr{width: 100%;}
.news_inr .row{margin: 0 -10px;}
.news_inr .col-sm-4{padding: 0 10px;}
.news_box{width: 100%; margin-top: 22px;background: #FFFFFF;
border: 1px solid #EBEDEE;
box-sizing: border-box;
box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.06);
border-radius: 6px;
padding: 8px 11px 21px;-moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.news_text{width: 100%; padding:27px 12px 0;}
.news_text h4{font-size: 20px; line-height: 29px; color: #141313;font-family:'CircularStd-Medium';
font-weight: 500;}
.news_text h4 a{color: #141313;}
.news_text h4 a:hover{color: #f673c1;}
.news_text em{position: relative; display: inline-block; width: 100%; padding-left: 27px; margin-top: 12px;
font-style: normal;font-size: 16px;line-height: 27px;color: #0D1F35;}
.news_text em img{position: absolute; left: 0; top: 2px;}
.news_text p{font-family: Roboto;font-size: 15px;
line-height: 27px;color: #515252; margin-top: 15px;}
.news_text .pag_arwbtn{margin-top: 20px; padding: 0 13px;}
.news_box:hover .pag_arwbtn{background:#f673c1; }
.news_img{width: 100%; position: relative;}
.news_img img{width: 100%; height: 244px;border-radius: 6px; object-fit: cover;}
.news_time{position: absolute; right: 11px; top: 11px;min-width: 86px;background: #FFFFFF;
box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
border-radius: 2px 2px 6px 6px; padding: 8px 2px; text-align: center;}
.news_time h6{font-weight: 600; font-size: 28px;color: #141313;}

.news_time span{color: #141313;font-size: 16px;font-weight: 500;}

/*faq section start*/
.faq_sec{width: 100%; padding: 43px 0 60px; display: inline-block;}
.faq_inr{width: 100%; padding: 0 117px;}
.accordian-faq{width: 100%; margin-top: 11px;}



.faq_inr .card {
    border-radius: 0 !important;
    border: 0 !important;
    background: none !important;
    box-shadow: none !important;
}
.faq_inr .card-header {
    background: none;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    border-bottom: solid 1px #DEDEDE;
    border-top: 0 !important;
    padding-left: 0 !important;
    box-shadow: none !important;
}
.faq_inr .card-header a{padding-top: 35px; padding-bottom: 18px; display: inline-block;
width: 100%;font-size: 19px;color: #0D1F35; font-weight: 500;
    background: url(../images/mius.png)no-repeat;
  background-position: right 5px top 38px !important;
  position: relative;
  padding-left: 0;
  padding-right: 40px;
}
.faq_inr .card-header a.collapsed {
    background: url(../images/plus1.png)no-repeat;

}
.faq_inr .card-body{padding: 0 !important;}
.faq_inr .card-body p{font-size: 17px; line-height: 26px;color: #4A5055; margin-top: 18px;}


/*footer*/
.footer_sec{width: 100%; background: #0d1f35; display: inline-block;}
.footer_top{width: 100%;border-bottom: 1px solid rgba(234, 237, 237, 0.15);}
.footer_top_inr{display: flex; justify-content: space-between; align-items: center;}
.footer_top_right{display: flex; align-items: center;}
.footer_top_right li{display: inline-block; padding: 0 6px;}
.footer_top_right ul{padding: 24px 8px 14px;border-left: 1px solid rgba(234, 237, 237, 0.15);
border-right: 1px solid rgba(234, 237, 237, 0.15);}
.footer_top_right li a{display: flex; align-items: center; justify-content: center; background: #C4C4C4; width: 42px;height: 42px; line-height: 42px;
border-radius: 100%; text-align: center; font-size: 22px; color: #161718;}
.footer_top_right li a:hover{ background: #f673c1; color: #fff;}
.footer_top_right span{font-size: 19px;color: #FFFFFF;letter-spacing: -0.02em; margin-right: 24px;}
.footer_body{width: 100%;border-bottom: 1px solid rgba(234, 237, 237, 0.15);}
.footer_bx{width: 100%; padding: 33px 0;}
.footer_bx h4{font-size: 18px;letter-spacing: 0.01em;color: #E9E5E5; font-weight: 400;}
.footer_bx p, .footer_bx li{font-size: 13px; line-height: 24px;letter-spacing: 0.01em;color: #bdbdbd;}
.footer_bx p{margin-top: 19px;}
.footer_bx li{margin-top: 7px;}
.footer_bx ul{margin-top: 10px;    display: inline-block;}
.footer_bx li a{color: #fff;color: #bdbdbd;}
.footer_body .col-sm-3:nth-child(3) .footer_bx ul{margin-top: 45px;}
.footer_body .col-sm-3:nth-child(1) {
    border-right: 1px solid rgba(234, 237, 237, 0.15);
}
.footer_body .col-sm-3:nth-child(4) .footer_bx li{margin-top: 15px; padding-left: 27px; position: relative;}
.footer_body .col-sm-3:nth-child(4) .footer_bx li em{position: absolute; top: 0; left: 0;}
.footer_bx li a:hover{color: #f673c1;}
.rede_more{color: #f673c1; margin-top: 16px; display: inline-block;}
.rede_more:hover{color: #C4C4C4;}
.footer_body .col-sm-3:first-child {
    flex: 0 0 36%;
    max-width: 36%;
}
.footer_body .col-sm-3 {
    flex: 0 0 17%;
    max-width: 17%;
}
.footer_body .col-sm-3:last-child {
    flex: 0 0 29%;
    max-width: 29%;
}

.footer_body .col-sm-3:nth-child(2) .footer_bx, .footer_body .col-sm-3:nth-child(3) .footer_bx{
    padding-left: 43px;
}
.footer_bot{width: 100%; display: inline-block;}
.footer_bot_inr{width: 100%; display: flex; justify-content: space-between; padding: 23px 0;}
.footer_bot_left{width: 60%;}
.footer_bot_left li, .footer_bot_rig li{display: inline-block;font-family: Roboto;font-size: 13px;color: #bdbdbd;letter-spacing: 0.01em;
border-left: solid 1px #8A8F93; padding: 0 4px; line-height: 13px; padding-left: 6px;}
.footer_bot_left li a, .footer_bot_rig li a{color: #bdbdbd;}
.footer_bot_left li:first-child, .footer_bot_rig li:first-child{border: none; padding-left: 0;}
.footer_bot_left li a:hover, .footer_bot_rig li a:hover{ color: #f673c1;}

.foot_arw{position: fixed; bottom: 116px;
right: 40px; z-index: 99;}

.foot_arw.fixed {
    bottom: 3px;
}

.foot_arw.fixed {
    opacity: 1;
    visibility: visible;
    bottom: 58px;
}
.foot_arw {
    opacity: 0;
    visibility: hidden;
    bottom: -100px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.foot_arw{width: 40px;
height: 40px; background: #f673c1;
line-height: 40px;
border-radius: 6px;
text-align: center;}
.foot_arw:hover{background: #C4C4C4;}


/*search page start*/

.header_inr_sec{box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.08);}
.search_fitar_sec{width: 100%; padding: 16px 0 12px; border-bottom: solid 1px #ebebeb; display: inline-block;}
.search_fitar_inr{width: 100%; position: relative; padding-left: 110px;}
.filter_cc{position: absolute; left: 0;top: 0;}




.input-field {
  position: relative;
  width: 100%;
  line-height: 49px;
  background: #fff;
}
.input-field label {
  position: absolute;
  top: 0;
  left: 12px;
  transition: 0.2s all;
  cursor: text;
  z-index: 10;
  color: #8f8c8c;
  font-size: 14px;
font-family: 'Roboto', sans-serif;
letter-spacing: 0.01em;

}
.input-field input, .input-field select, .input-field textarea {
border: solid 1px #d0d6d7;
color: #616A71;
font-size: 14px;
padding: 0 12px;
height: 48px;
border-radius: 6px;
width: 100%;
font-family: 'Roboto', sans-serif;
outline: none !important;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-ms-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
border-radius: 5px;
padding-right: 30px;
background: transparent;
position: relative;
z-index: 15;
text-overflow: ellipsis;
}
.input-field select{appearance: none; background: url(../images/drop_sel.png)no-repeat right 12px center #fff0;}
.input-field input:focus,
.input-field input:valid,
.input-field select:focus,
.input-field select:valid,
.input-field textarea:focus,
.input-field textarea:valid {
  border-color: #f673c1;
}
.input-field input:focus~label,
.input-field input:valid~label,
.input-field select:focus~label,
.input-field select:valid~label,
.input-field textarea:focus~label,
.input-field textarea:valid~label {
  font-size: 13px;
  top: -10px;
  background: #fff;
  height: auto;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  color: #f673c1;
  left: 12px;
  z-index: 18

}



.filtar_input{position: relative;}
.filtar_drop{background: url(../images/drop_sel.png)no-repeat right 18px center #fffbfd; padding-right: 18px;
padding: 0 18px;
font-size: 14px; color: #717070;font-family: 'Roboto', sans-serif; height: 49px;
border-radius: 4px; border: solid 1px #d0d6d7; display: flex; align-items: center;}
.filtar_bt .page_btn{width: 100%; margin: 0; font-weight: 600; font-size: 17.88px;height: 49px; line-height: 49px;}
.search_filtar_inr .row{margin: 0 -8px;}
.search_filtar_inr .col-sm-2
{padding: 0 8px;
-ms-flex: 0 0 22%;
flex: 0 0 22%;
max-width: 22%;}    
.search_filtar_inr .col-sm-2:last-child{
-ms-flex: 0 0 12%;
flex: 0 0 12%;
max-width: 12%;
}
.category_panel{width: 100%; position: absolute; top: 63px; border-radius: 7px;
background: #fff; border: solid 1px #c7c7c7; padding: 4px 13px 14px;
z-index: 9;}
.category_checkBox{width: 100%;}


.category_checkBox input[type="checkbox"] + label {
    background: url(../images/check2.png)no-repeat;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    color: #414647;
    padding: 1px 0;
    padding-left: 35px;
    font-weight: 400;
    background-position:  left top 3px !important;
    margin-top: 10px;
    letter-spacing: 0.01em;
}
.category_checkBox input[type="checkbox"] {
    display: none;
}
.category_checkBox input[type="checkbox"]:checked + label {
    background: url(../images/checked2.png)no-repeat;
}
.category_panel{display: none;}
.category_panel:before{position: absolute; left: 12px; top: -15px; background: url(../images/arw_check.png)no-repeat;
width: 35px; height: 15px; content: "";}
.more_cc{display: inline-block;background: #FFFFFF;
border: 1px solid #B5B8BD; box-sizing: border-box; border-radius: 3px;font-weight: 500;
font-size: 14px;color: #0D1F35; cursor: pointer; height: 32px; line-height: 32px; font-style: normal;
 -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; padding: 0 6px; margin-top: 13px;}
.more_cc:hover{background: #0D1F35; color: #fff;}



.slider_rnge .ui-slider-horizontal {
    background: #000 none repeat scroll 0 0 !important;
    border: medium none !important;
    height: 5px !important;
    margin: 0;}



#amount {
    border: none !important;
    color: #636770;
    font-weight: 500;
    font-size: 14px;
    width: 100% !important;
    outline: none !important;
}



.slider_rnge .ui-state-default,
.slider_rnge .ui-widget-content .ui-state-default,
.slider_rnge .ui-widget-header .ui-state-default {
    background: #fff!important;
        border: 1px solid #c5c5c5 !important;
}
.slider_rnge .ui-slider .ui-slider-handle{width: 25px !important; height: 25px !important; top: -11px !important;
outline: none !important;}
.slider_rnge .ui-state-hover{border: 1px solid #f673c1 !important;}
.slider_rnge .ui-slider .ui-slider-handle:hover, .slider_rnge .ui-slider .ui-slider-handle:focus{border: 1px solid #f673c1 !important;}


.ui-slider .ui-slider-range:last-child {
    background: #0d1f35!important;
}



.right-search {
    float: right;
    width: 72.5%;
    padding-top: 30px;
}

.slider_rnge .ui-slider-horizontal {
    background: #000 none repeat scroll 0 0 !important;
    border: medium none !important;
    height: 2px !important;
    margin: 0;
}



.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}
.ui-slider-horizontal {
    height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.4em;
    margin-left: -.6em;
}



.ui-slider-horizontal .ui-slider-range {
    top: 0;  height: 100%;

}


.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
.ui-slider-vertical {
    width: .8em;
    height: 100px;
}



.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {left: 0;
    width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}
.ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
}
.ui-spinner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
}
.ui-spinner-input {
    border: none;
    background: none;
    color: inherit;
    padding: .222em 0;
    margin: .2em 0;
    vertical-align: middle;
    margin-left: .4em;
    margin-right: 2em;}



.ui-spinner-button {width: 1.6em;
    height: 50%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: default;
    display: block;
    overflow: hidden;
    right: 0;
}

.slider_rnge {
    margin-top: 10px;
}
.filter-re {
    padding: 5px 15px;
    background: #338306;
    margin: 0 -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-re .rest {color: #fff;
    font-size: 15px;
    background: transparent;
    height: auto;
}
.filter-re .done-se {
    color: #338306;
    font-size: 15px;
    width: 85px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
}

.prin_rance{display: flex; margin-top: 17px;    -ms-flex-wrap: wrap;
    flex-wrap: wrap;}
.prin_rance b{color: #0d1f35; font-size: 14px; font-weight: normal;}
.filter_cc{font-size: 24px;color: #161718; display: inline-block; vertical-align: middle;font-family:'Circular Std Book';
font-weight: 450; line-height: 29px;    margin-top: 11px;}
.filter_cc img{margin-right: 8px;margin-top: -2px;}
.filter_btn_bx{width: 100%;}
.filter_btn{display: inline-block;    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    font-family: Roboto;
    color: #fff;
    line-height: 48px;
    padding: 0 10px;
    border-radius: 3px;
    background: #0D1F35;
    cursor: pointer;
    letter-spacing: 0.3px;
    height: 48px;
border: none;
outline: none;
cursor: pointer;}

.filter_btn:hover{background: #f673c1;}
.filter_btn img{margin-right: 8px;}
.search_fitar_inr .col-sm-2{padding: 0 7px;
    -ms-flex: 0 0 21%;
    flex: 0 0 21%;
    max-width: 21%;}
.search_fitar_inr .row{margin: 0 -7px; justify-content: space-between;}
.range-text{width: 58%; padding-left: 2px;}
.fil_btn_wi{-ms-flex: 0 0 14% !important;
    flex: 0 0 14% !important;
    max-width: 14% !important;
    text-align: right;
}
.search_sec{width: 100%; padding: 27px 0 47px; display: inline-block; background: #fffbfd;}
.search_inr{width: 100%;}
.search_hed{display: flex; align-items: center; justify-content: space-between;-ms-flex-wrap: wrap;
    flex-wrap: wrap;}
.search_hed h1{font-size: 23px; line-height: 29px; color: #161718;font-weight: 450;font-family:'Circular Std Book';}
.sort_bx span{font-weight: 450; font-size: 16px; line-height: 21px;font-size: 16px;font-family:'Circular Std Book';
margin-right: 9px;}
.sort_bx select{width: 170px;
height: 44px;background: #FFFFFF; border: 1px solid #e7dfe5; border-radius: 6px; outline: none;letter-spacing: 0.01em;font-size: 14px;
color: #3F4954;font-weight: 450;font-family:'Circular Std Book';
background: url(../images/drop_sel.png)no-repeat right 12px center #fff; padding: 0 12px;
padding-right: 24px; -webkit-appearance: none; appearance: none; text-overflow: ellipsis;}

.search_body{width: 100%; margin-top: 11px;}
.search_body .row{margin: 0 -10px;}
.search_body .col-sm-2{padding: 0 10px;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;}
.search_body .popular_products_bx{margin-top: 20px;}
.popular_products_bx p{color: #636770;font-size: 15px;
line-height: 18px;font-family: Roboto; margin-top: 12px;}
.popular_products_bx p b{font-weight: normal;color: #0d1f35;}
.search_body .popular_products_bx .pag_arwbtn{padding: 0 33px; margin-top: 10px;}
.required_cc{position: absolute; top: 10px; left: 15px;}

.quti_tool{position: absolute; left: 15px; top: 11px; color: #0D1F35;font-size: 14px;
line-height: 18px; width: 18px; height: 17px; background: #aaaeb2; border-radius: 100%;
text-align: center;letter-spacing: 0.01em;font-weight: 450;font-family:'Circular Std Book';}
.quti_tool:hover{background: #f673c1;}

.tool_t i {
    color: #fff;
    font-size: 10px;
}

.tooltip {
    display: inline;
    position: relative;
    color: #000;
}
.tooltip:hover:after {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: attr(title);
    margin: -82px auto 0;
    font-size: 16px;
    padding: 13px;
    width: 220px;
}
.tooltip:hover:before {
    border: solid;
    border-color: #444 transparent;
    border-width: 12px 6px 0 6px;
    content: "";
    left: 45%;
    bottom: 30px;
    position: absolute;
}
/*== start of code for tooltips ==*/
.tool {
    cursor: help;
    text-align: center;
}


/*== common styles for both parts of tool tip ==*/
.tool::before, .tool::after {
 left: inherit;
 opacity: 0;
 position: absolute;
 z-index: -100;
 right: -16px;
}
 .tool:hover::before, .tool:focus::before, .tool:hover::after, .tool:focus::after {
 opacity: 1;
 transform: scale(1) translateY(0);
 z-index: 100;
}


/*== pointer tip ==*/
.tool::before {
 /*border-style: solid;
 border-width: 1em 0.75em 0 0.75em;
 border-color: #ced3d5 transparent transparent transparent;*/
 bottom: 22px;
 content: "";
 margin-left: 0;
 transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26), opacity .65s .5s;
 transform:  scale(.6) translateY(-90%);
 background: url(../images/shep.png)no-repeat right bottom;
width: 21px;
height: 10px;
z-index: 999999 !important;
    right: inherit;
    left: -1px;
}
 .tool:hover::before, .tool:focus::before {
 transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26) .2s;
}


/*== speech bubble ==*/
.tool::after {
     background: #fff;
    border-radius: 7px;
    bottom: inherit;
    text-align: left;
    border: solid 1px #f673c1;
    content: attr(data-tip);
    margin-left: 0;
    padding: 9px;
    transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26) .2s;
    transform: scale(.6) translateY(50%);
    width: 161px;
    top: -51px;
    left: -17px;
}
 .tool:hover::after, .tool:focus::after {
 transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26);
}
.pagination_sec{width: 100%; margin-top: 28px; text-align: center;}
.pagination_sec nav ul{justify-content: center;}
.page-item.active .page-link{background: #1c1c1c !important; color: #fff !important;border-color:#1c1c1c !important;}
.page-link{color: #1c1c1c !important;}
.search_filtar_inr{width: 100%;}




.mobile-list, .mobile_menu {
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
     background: #f673c1;
    text-align: center;
    color: #fff;
    padding: 7px;
    display: none;
}
#mobile-list, #mobile_menu{display: none;}
#filter_bx{display: block;}
.mobile-list:hover, .mobile_menu:hover{background: #f673c1;background:#0D1F35;}

/*product details page start*/
.rel_products_sec .container{max-width: 1200px;}
.rel_products_sec .owl-item {
  padding:15px 10px;
}
.rel_products_sec .pag_arwbtn{padding: 0 33px;}
.deta_tex_sec{width: 100%; display: inline-block;}
.deta_tex_inr{width: 100%; padding:0 22px 0; border: solid 1px #e6e6e6; margin-top: 30px; background: #fff}
.deta_tex_inr h4{margin-top: 25px; font-size: 20px;line-height: 29px; font-weight: 500;color: #0d1f35;}
.deta_tex_inr p{margin-top: 8px; font-size: 15px;line-height: 25px; font-weight: 400; color: #434a51;}
.rel_products_sec{padding-bottom: 48px;}
.body_bg_product{width: 100%; display: inline-block; background: #fff3fa5c;}

.product-details-sec{width: 100%; display: inline-block; padding-top: 20px;}
.product-details-inr{width: 100%;}
.br_camp{width: 100%;}
.br_camp li{float: left; padding-right: 13px; padding-left: 8px;
background: url(../images/br_arw.png)no-repeat right top 10px; font-size: 15px; color: #1f2021;}
.br_camp li:last-child{padding-right: 0; background-image: none !important;}
.br_camp li span{color: #939291;}



.product_details_panel{width: 100%; display: inline-block; padding-top: 18px;}
.product_details_right{float: right; width: 60%; padding-left: 40px;}
.product_details_right h1{font-size: 27px; line-height: 24px; color: #000000;font-weight: 500;font-family:'CircularStd-Medium';}
.product_details_right p{font-size: 15px; color: #505565; margin-top: 7px;line-height: 23px;}
.product_details_right b{display: inline-block; font-weight: 400; color: #003146; font-size: 14px;}
.compostion_sec{display: inline-block; width: 100%; margin-top: 11px;}
.compostion_sec li{float: left; padding-right: 45px;color: #505565;}
.compostion_sec li:last-child{padding-right: 0;}
.compostion_sec li u a{ color: #003146;}
.compostion_sec li a{ color: #003146;}




.product-quantity {
    width: 8rem;
    display: block;
}

.product-quantity input {
    margin: 0;
    padding: 0.75rem 0;
    text-align: center;
    border-top: 1px solid #8f8f8f;
    border-left: 1px solid  #8f8f8f;
    border-bottom: 1px solid  #8f8f8f;
    border-right: 0;
    font-size: 14px;
    font-weight: 400;
}

.quantity-selectors-container {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.quantity-selectors {
    margin: 0;
    padding: 0;
    display: flex;
}

.quantity-selectors button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    border-radius: 100%;
    border: 1px solid  #818286;
    background-color: #fff;
    color: #727272;
    font-size: 17px;
    color: #333333;
    font-weight: 700;
    font-size: 14px;
}



.quantity-selectors button:hover {
    cursor: pointer;
}

.quantity-selectors button[disabled="disabled"] {
    cursor: not-allowed;
}

.quantity-selectors button[disabled="disabled"] span {
    opacity: 0.5;
}

button.decrement-quantity, button.increment-quantity , 
button.decrement-quantity1, button.increment-quantity1 ,
button.decrement-quantity2, button.increment-quantity2  {
    width: 32px;
    height: 32px;
}

.product-quantity input {
    float: left;
    width: 43px;
    height: 34px;
}
.quantity-selectors button:hover {
    background: #f673c1;
    color: #fff;
    border-color: #f673c1;
}

.item-description {
    border: 1px solid #e2e2e2;
    padding: 20px;
}
.sele_numb_bx{width: 100%; display: inline-block; margin-top: 13px;}
.sele_numb_left{float: left;}
.sele_numb_left select{width: 137px; height: 36px; border: solid 1px #818286; border-radius: 3px; 
    -webkit-appearance: none; appearance: none; text-overflow: ellipsis; 
    background: url(../images/dr2.png)no-repeat right 10px center;
padding: 0 10px;
font-size: 15px;
color: #686a70;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}
.br_camp li a{color: #1f2021;}
.br_camp li a:hover{color: #f673c1;}
.product-quantity{float: left; padding-left: 19px;}
.product-quantity input{border: none !important; font-size: 18px; color: #141517;font-family: 'Roboto', sans-serif;
font-weight: 400;}
.get_off{display: inline-block; width: 100%; font-style: normal; font-size: 15px;font-family: 'Roboto', sans-serif;
font-weight: 500; color: #f673c1; text-transform: uppercase;}
.inclusive_tex{font-size: 23px; color: #0d1f35;font-family: 'Roboto', sans-serif;
font-weight: 700; vertical-align: middle; margin-top: 8px;}
.inclusive_tex del{color: #979797; margin-right: 7px;}
.inclusive_tex small{font-size: 15px; color: #003146;
display: inline-block; margin-left: 8px;vertical-align: middle; font-weight: 400;}
.product_details_right_foot{display: flex; justify-content: space-between; align-items: center; padding: 11px 0;
border-top: dashed 1px #dbdddd; border-bottom: solid 1px #dbdddd; margin-top: 20px;}
.product_details_right_foot .pag_arwbtn{border: none; cursor: pointer; height: 50px; line-height: 50px;
text-transform: uppercase; padding: 0 55px; margin-top: 0;}
.share_cc{display: flex; align-items: center;}
.share_cc li{display: inline-block; padding: 0 3px;}
.share_cc li:last-child{ padding-right: 0;}
.share_cc span{display: inline-block;padding-right: 6px; font-size: 16px; color: #6c6c6c;}


.product_details_left_inr{width: 100%;}
.product_details_left{float: left; width: 40%;}

.ninja_trail_remove{width: 100%;}
#thumbnail-slider{height: 390px !important;}
#thumbnail-slider ul li{width: 87px !important; height: 85px !important; background: #fff;}
#thumbnail-slider-prev, #thumbnail-slider-nextt{background-color: none !important;}
#thumbnail-slider{padding: 0 !important;}
 #thumbnail-slider-next{bottom: 0 !important;}
#ninja-slider .ns-img{background-size: 244px auto; height: 348px !important; width: 100%;}
#thumbnail-slider{width: 22%;}
.slider-inner{background: #fff;-webkit-box-shadow: 0px 0px 16px 0px rgba(174,174,174,0.29);
-moz-box-shadow: 0px 0px 16px 0px rgba(174,174,174,0.29);
box-shadow: 0px 0px 16px 0px rgba(174,174,174,0.29); position: relative;}
#ninja-slider{padding-left: 15px !important; width: 78%;}

#thumbnail-slider-next.disabled, #thumbnail-slider-prev{display: none !important;}
#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play{display: none !important;}
.hhert {
  position: absolute;
  display: block;
  right: 15px;
  top: 17px;
  background: #fff;
  width: 38px;
  height: 38px;
  line-height: 38px;
  border-radius: 100%;
  z-index: 8;
  text-align: center;
  cursor: pointer;
  border: solid 1px #dedede;
}



/*--------15.02.2022-sayanti----*/
/*---------login---*/
.main_wrapper{
    background: #fff3fa82;
}
.login_sec {
    padding: 50px 0;
}
.main-center-div {
    max-width: 500px;
    margin: auto;
    border-radius: 8px;
    background: #fff;
    box-shadow: rgb(149 157 165 / 5%) 0px 8px 24px;
}
.upper-login {
    padding: 20px 30px 32px;
}
.login_heading{
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 15px;
    margin-bottom: 25px;
    position: relative;
}
.login_heading:before{
    position: absolute;
    bottom: -5px;
    left: 50%;
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #f673c1
}
.upper-login h2 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #262f38;
    font-weight: bold;
    font-family:'Circular Std Bold';
}
.upper-login p {
    font-size: 16px;
    color: #495d64;
}
.input_fields{
    margin-bottom: 18px;
}
.input_fields label{
    color: #6d7379;
    font-size: 15.5px;
    display: block;
    margin-bottom: 5px;
    width: 100%;
}
.input_fields input , .input_fields textarea{
    height: 46px;
    border:1px solid #e7dfe5;
    background: #fff;
    border-radius: 6px;
    padding: 0 15px;
    color: #161718;
    font-size: 17px;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
     font-family: 'Roboto', sans-serif;
    position: relative;
}
.input_fields input:focus , .input_fields textarea:focus{
    border:1px solid #f673c1;
}
:focus-visible{
    outline: 0
}
.input_fields input::placeholder , .input_fields textarea::placeholder{
    color: #d0d4db;
}
.password-in{
    position: relative;
    width: 100%;
}
.input-icon{
    position: absolute;
    top: 10px;
    right: 15px;
}
.input-icon{
    color: #6e778c;
    font-size: 21px;
    cursor: pointer;
}

.remmber-area {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list_checkBox {
    display: inline-block;
    padding-left: 25px;
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 0;
    line-height: 20px;
    color: #434a51;
    font-family: 'Roboto', sans-serif;
}


 .list_checkBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

 .list_checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #b5b5b5;
    border-radius: 3px;
}

.list_checkBox .list_checkmark::after {
    left: 4px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.list_checkBox input:checked~.list_checkmark::after {
    display: block;
}

.list_checkBox input:checked~.list_checkmark {
    background-color: #f673c1;
    border: none;
}

 .list_checkBox input:checked~.list_checkmark::after {
    display: block;
}
 .list_checkBox .list_checkmark::after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

 .list_checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.forgot-passwords {
    color: #434a51;
    font-size: 16.23px;
    font-weight: 400;
}
.forgot-passwords:hover{
    color: #f673c1
}

.sing_button {
    margin-top: 15px;
}
.sing_button .see_cc {
    height: 46px;
    line-height: 46px;
    width: 100%;
    border-radius: 4px;
    background: #f673c1;
    text-align: center;
    font-family:'CircularStd-Medium';
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    border:0;
    font-size: 19px;
}
.sing_button .see_cc:hover{
    background: #0D1F35;
    transition: 0.2s;
}

.lower-login {
    background: #fff;
    padding: 20px 30px 30px;
    box-shadow: 0px 0px 0px #8880, 0px -7px 9px #8b8b8b08;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

.lower-login h6 {
    font-size: 14px;
    color: #4b626c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.signin_btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signin_btns a {
    width: 48.5%;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #f673c1;
    text-align: center;
    height: 47px;
    line-height: 47px;
    color: #0d1f35;
    font-size: 15px;
    display: inline-block;
    margin-top: 12px;
}
.signin_btns a:hover{
    background: #f673c1;
    border: 1px solid #f673c1;
    color: #fff;
}

/*----registration------*/

.registration_div{
    max-width: 995px;
}
.registr_head{
    font-size: 22px;
    color: #302f2f;
    font-family:'Circular Std Bold';
    margin-bottom: 14px;
    margin-top: 10px;
}
.input_fields h2{
    color: #434a51;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}
.list_checkBox p{
    color: #434a51;
    font-size: 14px;
    line-height: 23px;
}
.list_checkmark.new_achec{
    top: 4px;
}

.list_registration_qus{
    margin-top: 8px;
    margin-bottom: 15px;
}
.list_registration_qus h4{
    font-size: 18px;
    color: #0d1f35;
    font-weight: normal;
    margin-bottom: 10px;
    letter-spacing: 0.2px;
}
.check_lists label{
    margin-bottom: 12px;
}

.input_fields textarea{
    height: 112px;
    resize: none;
    padding-top: 10px
}
.uplodimgfilnew{
    width: 100%;
    border-radius: 6px;
    border:1px solid #e7dfe5;
    cursor: pointer;
    text-align: center;
    padding:30px 22px 25px;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.input_fields .uplodimgfilnew label{
    cursor: pointer;
}
.uplodimgfilnew input[type="file"] {
    display: none;
}
.uplodimgfilnew label img{
    margin-bottom: 14px
}
.uplodimgfilnew label p{
    color: #434a51;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.uplodimgfilnew label span{
    color: #d0d4db;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.uplodimgfilnew:hover{
    background: #f673c1;
     border-color:  #f673c1;
     -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.uplodimgfilnew .hoven , .uplodimgfilnew:hover .hoveb{
    display: inline-block;
}
.uplodimgfilnew .hoveb , .uplodimgfilnew:hover .hoven{
    display: none;
}
.uplodimgfilnew:hover label p{
    color: #fff;
     -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.uplodimgfilnew:hover label span{
    color: #ffffffa6;
     -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.border-lins{
    height: 13px;
    margin-top: 5px;
    margin-bottom: 25px;
    background: #f4f4f4
}
button  , button:hover{
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.subm_btns{
    height: 46px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 18.72px;
     font-family:'CircularStd-Medium';
     padding: 0 55px;
         background: #f673c1;
         color: #fff;
         border:0;
         cursor: pointer;
         line-height: 50px;
         border-radius: 3px;
}
.subm_btns:hover {
    background: #0D1F35;
    color: #fff;
}

.input-from .col-12 , .input-from .col-sm-6 , .input-from .col-lg-12 , .input-from .col-sm-12   {
    padding: 0 8px;
}
.cart_topics{
    background: #fff;
    box-shadow: rgb(243 243 243 / 10%) 0px 4px 16px, rgb(202 202 207 / 5%) 0px 8px 32px;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 25px;
}
.cart_sec{
    padding: 18px 0 60px;
}
.cart_topics h2{
    width: 100%;
    font-size: 20px;
    color: #000000;
    font-family:'CircularStd-Medium';
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e4e4
}
.cart_items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e4e4

}
.cart_left{
    display: flex;
}
.cart_left span{
    background: #fff;
    width: 71px;
    height: 71px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    margin: 0 auto;
    border:1px solid #ebebeb;
    margin-right: 20px;
}
.cart_left span img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .4s ease-in-out;
}
.cart_info h3{
    font-size: 18px;
    color: #303a4f;
    font-weight: normal;
    display: flex;
}
.cart_info h3 span{
    margin-left: 20px;
    background: #ffdaf0;
    border-radius: 4px;
    color: #074d4f;
    font-size: 11px;
    width: auto;
        border: 1px solid #ffdaf0;
    height: auto;
    padding: 0 5px;
    margin-right: 0;

}
.cart_info em{
    font-size:  14px;
    color: #858889;
    margin-top: -2px;
    margin-bottom: 2px;
    display: inherit;
    font-style: italic;
}
.cart_info ul{
    display: flex;
    align-items: center;
}
.cart_info ul li{
    font-size: 15px;
    color: #686a70;
    margin-right: 10px;
}
.cart_info ul li.pp_list{
    font-weight: 600;
    color: #0d1f35;
    font-size: 16px;
}
.cart_info ul li.pp_list del{
    margin-right: 5px;
    color: #979797
}
.cart_right{
    text-align: right;
}
.cart_right a{
    margin-right: 10px;
}

.cart_right a .hobern , .cart_right a:hover .hoberb{
    display: inline-block;
}
.cart_right a .hoberb , .cart_right a:hover .hobern{
    display: none;
}

.cart_quan{
    margin-top: 25px;
}
.summary-cart{
        background: #fff;
    box-shadow: rgb(243 243 243 / 10%) 0px 4px 16px, rgb(202 202 207 / 5%) 0px 8px 32px;
    padding: 20px;
    border-radius: 6px;
        position: sticky;
    top: 75px;
}
.summary-title{
    width: 100%;
    font-size: 20px;
    color: #000000;
    font-family: 'CircularStd-Medium';
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}
.cart_summary_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}
.cart_summary_info p{
    color: #000000;
    font-size: 16px;
}
.total_cart_div{
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    padding: 14px 0;
    margin: 17px 0;

}
.total_cart_div h1{
    font-size: 22px;
    color: #000000;
    font-weight: 500;
    line-height: 26px;
}
.cart_btns a{
    width: 100%;
    height: 47px;
    line-height: 47px;
    border-radius: 3px;
    border:1px solid #f673c1;
    background: #f673c1;
    text-align: center;
    font-family:'CircularStd-Medium';
    font-size: 19px;
    color: #fff;
    display: block;
    margin-bottom: 13px;
}
.cart_btns a:hover{
    background: #0D1F35;
    color: #fff;
    border:1px solid #0D1F35;
}
.cart_btns a.border_btns{
    background: transparent;
    border:1px solid #727a84;
    color: #0d1f35;
}
.cart_btns a.border_btns:hover{
    background: #f673c1;
    border:1px solid #f673c1;
    color: #fff;
}
.cart_topics .cart_items:last-child{
    margin-bottom: 10px;
}


.checkout_add h3{
    color: #252222;
    font-size: 20px;
    font-family:'CircularStd-Medium';
    font-weight: 500;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
}
.checkout_add h3:before{
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 100%;
    top: 90%;
    left: 0;
    background: #f673c1
}

.input-section-check .form-group label {
    font-size: 16px;
    color: #434a51;
    font-weight: 400;
    float: left;
    margin-bottom: 8px;
    margin-right: 20px;
}

.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
  display: none;
}

.radio .outer {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin: 3px 10px 0 0;
  border: 2px solid #909090;
  border-radius: 50%;
  background-color: #fff;
}

.radio input:checked + .outer {
  border: 2px solid #f673c1;
}

.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 8px;
  height: 8px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 4px;
  border-radius: 50%;
  background-color: #f673c1;
  opacity: 0;
}

.checkout_add .input-from .col-12, .checkout_add .input-from .col-sm-6, 
.checkout_add .input-from .col-lg-12, .checkout_add .input-from .col-sm-12{
    padding: 0 15px;
}
.list_checkBox p.new_label{
    color: #434a51;
    font-size: 16px;
    line-height: 27px;
}



/*dashbord pages start*/

.dashbord_sec{width: 100%; display: inline-block; background: #fff3fa82; padding: 26px 0 68px;}
.dashbord_inr{width: 100%; display: inline-block;}
.dashbord_left{width: 25%; float: left;}
.dashbord_left_ir{width: 100%;}
.dashbord_left_top{width: 100%; background: #fff; border-radius: 5px; padding: 15px 15px;
-webkit-box-shadow: 0px 0px 16px 0px rgba(174,174,174,0.13);
-moz-box-shadow: 0px 0px 16px 0px rgba(174,174,174,0.13);
box-shadow: 0px 0px 16px 0px rgba(174,174,174,0.13);}
.dashbord_left_top .media em img{width: 56px; height: 56px; object-fit: cover; 
border-radius: 100%; margin-right: 11px;}
.dashbord_left_top .media-body h4{font-size: 20px; color: #000000;font-family:'CircularStd-Medium'; font-weight: 500;}
.dashbord_left_top .media-body p{font-size: 20px; color: #000000;
font-size: 15px; color: #3f4142;font-weight: 400;}
.dashbord_left_top .media{align-items: center;}
.dash_pro_link{width: 100%; background: #fff; border-radius: 5px;    overflow: hidden;
-webkit-box-shadow: 0px 0px 16px 0px rgba(174,174,174,0.13);
-moz-box-shadow: 0px 0px 16px 0px rgba(174,174,174,0.13);
box-shadow: 0px 0px 16px 0px rgba(174,174,174,0.13); margin-top: 14px;}
.dash_pro_link li{font-size: 15px; color: #3f4550; font-weight: 400;}
.dash_pro_link a{position: relative; width: 100%; display: inline-block; padding: 10px 14px;
padding-left: 63px; background: #fff; color: #3f4550;} 
.dash_pro_link a > img{position: absolute; left: 23px; top: 10px;filter: grayscale(100%);}
.dash_pro_link a:hover{filter: inherit !important; background: #f673c112;}
.dash_pro_link a:hover img{filter: inherit !important;}
.dash_pro_link a:before{position: absolute; left: 0; top: 0; width: 2px;
height: 0; background: #f673c1; content: ""; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.dash_pro_link a:hover:before{height: 100%;}
.dash_pro_link a:after{position: absolute; right: 19px; top:50%; width: 6px;
-webkit-transform: translateY(-50%);    
-moz-transform: translateY(-50%);    
transform: translateY(-50%);    
height: 9px; background: url(../images/das_arw.png)no-repeat; content: ""; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;
visibility: hidden; opacity: 0;}
.dash_pro_link a:hover:after{visibility:visible;opacity: 1;}
.dash_pro_link a.actv{filter: inherit !important; background: #f673c112;}
.dash_pro_link a.actv img{filter: inherit !important;}
.dash_pro_link a.actv:after{visibility:visible;opacity: 1;}
.dash_pro_link a.actv:before{height: 100%;}
.dash_pro_link li:last-child {
    border-top: double 4px #e8ecee;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dash_pro_link li:last-child a{padding-top: 14px; padding-bottom: 14px;}
.dash_pro_link li:last-child a img{top: 14px;}
.dashbord_right{padding-left: 22px; float: right;width: 75%;}
.dashbord_right_ir{width: 100%;}
.dashbord_right_ir h1, .dashbord_right_ir h2{font-size: 23px; color: #252222; font-weight: 700;font-family:'Circular Std Bold';}
.dashbord_frm{width: 100%;background: #fff; border-radius: 5px;
-webkit-box-shadow: 0px 0px 16px 0px rgba(174,174,174,0.13); -moz-box-shadow: 0px 0px 16px 0px rgba(174,174,174,0.13);
box-shadow: 0px 0px 16px 0px rgba(174,174,174,0.13); margin-top: 13px; padding: 0 19px 14px;}
.tit_bx{width: 100%; margin-top: 21px;}
.tit_bx h4{font-size: 20px; font-weight: 500; color: #302f2f; margin-top: 21px;font-family:'CircularStd-Medium';}
.dashbord_frm .row{margin: 0 -8px;}
.dashbord_frm .col-sm-1, .dashbord_frm .col-sm-2, .dashbord_frm .col-sm-2, .dashbord_frm .col-sm-3,
.dashbord_frm .col-sm-4, .dashbord_frm .col-sm-5, .dashbord_frm .col-sm-6, .dashbord_frm .col-sm-7,
.dashbord_frm .col-sm-8, .dashbord_frm .col-sm-9, .dashbord_frm .col-sm-10, .dashbord_frm .col-sm-11, .dashbord_frm .col-sm-12,
.dashbord_frm .col-md-1, .dashbord_frm .col-md-2, .dashbord_frm .col-md-2, .dashbord_frm .col-md-3,
.dashbord_frm .col-md-4, .dashbord_frm .col-md-5, .dashbord_frm .col-md-6, .dashbord_frm .col-md-7,
.dashbord_frm .col-md-8, .dashbord_frm .col-md-9, .dashbord_frm .col-md-10, .dashbord_frm .col-md-11, .dashbord_frm .col-md-12,
.dashbord_frm .col-lg-1, .dashbord_frm .col-lg-2, .dashbord_frm .col-lg-2, .dashbord_frm .col-lg-3,
.dashbord_frm .col-lg-4, .dashbord_frm .col-lg-5, .dashbord_frm .col-lg-6, .dashbord_frm .col-lg-7,
.dashbord_frm .col-lg-8, .dashbord_frm .col-lg-9, .dashbord_frm .col-lg-10, .dashbord_frm .col-lg-11, .dashbord_frm .col-lg-12
{padding: 0 8px;}

.dashbord_input{width: 100%; margin-top: 15px;}
.dashbord_input input, .dashbord_input select, .dashbord_input textarea{width: 100%;font-size: 17px;
color: #161718; padding: 0 18px; height: 46px; border: solid 1px #e7dfe5; border-radius: 5px; margin-top: 4px;font-family: 'Roboto', sans-serif;}
.dashbord_input input::placeholder, .dashbord_input textarea::placeholder{color: #d0d4db;}
.dashbord_input select{background: url(../images/drop_in.png)no-repeat right 14px center; padding-right: 23px;
    -webkit-appearance: none !important;
    color: #d0d4db;
 appearance: none !important;}
.dashbord_input label{font-size: 16px; color: #6d7379;font-family: 'Roboto', sans-serif;}
.newDe_input_acv{border-color: #f673c1 !important;color: #161718 !important;}
.checkout_ship{width: 100%; margin-top: 20px;}
.checkout_ship .input_fields {
    margin-bottom: 0;
}
.dashbord_input input:focus, .dashbord_input select:focus, .dashbord_input textarea:focus{
    border:1px solid #f673c1;
}

.save_adres_bx{ width: 100%; margin: 0 -19px; margin-top: 20px; border-top: solid 13px #f4f4f4; text-align: center;}
.das_btn{border: none; cursor: pointer; margin-top: 13px !important; font-size: 19px !important; padding: 0 28px !important;
background: #f673c1 !important;font-family:'CircularStd-Medium'; height: 46px !important; 
line-height: 46px !important;}
.das_btn:hover{background: #0d1f35 !important;}



#profidropdid {
    display: none;
}
.profidropdid {
    border-radius: 8px 0 8px 8px;
    padding: 2px 0;
    background: #fff;
    width: 198px;
    box-shadow: 0 .14px 2.29266px rgba(0, 0, 0, .03231), 0 .37px 4.42626px rgba(0, 0, 0, .04769), 0 3px 7px rgba(0, 0, 0, .09);
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 3;
    border: solid 1px #bdbdbd;
}
.profidropdid::before {
    position: absolute;
    top: -14px;
    background: url(../images/angle.png)no-repeat;
    width: 30px;
    height: 14px;
    content: "";
    right: 3px;
}
.profidropdid li {
    margin: 0 !important;
        margin-top: 0px;
    margin-top: 0px;
    margin-top: 0px;
    margin-top: 1px !important;
    color: #334156;
    width: 100%;
    text-align: left;
    font-size: 14px;
}
.profidropdid li {
    padding: 0;
}
.profidropdid li:first-child a {
    border-top: 0;
}
.profidropdid li a.activ {
    background: #fff !important;
    color: #529927 !important;
}
.profidropdid li a:hover{ background: #fff !important;
    color: #f673c1 !important;}
.profidropdid li a {
    text-transform: capitalize;
}
.profidropdid li a {
    padding: 10px 25px;
    display: inline-block;
    width: 100%;
    color: #000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-top: dashed 1px #dbdbdb;
}
.log_hed_pro{position: absolute; right: 0; top: -8px;}
.log_hed_pro span {
    margin-left: 12px;
    color: #1c1f23;
    font-size: 16px;
    font-family:'Circular Std Book';
    font-weight: 450;

}
.hed_img_tog > img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.log_hed_pro span i {
    margin-left: 9px;
}
.delt_fav{position: absolute; top: 9px; right: 11px;display: flex;}
.delt_fav2{display: none;}
.popular_products_bx:hover .delt_fav1{display: none;}
.popular_products_bx:hover .delt_fav2{display: block;}
.dashbord_frm .popular_products_bx{padding-top: 19px;}
.dashbord_frm .quti_tool{left: 10px;
top: 9px;}
.dashbord_frm .popular_products_bx:hover{box-shadow:inherit; border-color: #f673c1;}
.dashbord_frm .pag_arwbtn{padding: 0 35px; margin-top: 12px;}
.dashbord_frm .popular_products_bx h4{font-size: 12.4px;}
.address_book_bx{width: 100%; border: solid 1px #e1e6e8;-webkit-box-shadow: 0px 0px 6px 3px rgba(84,84,84,0.06);
-moz-box-shadow: 0px 0px 6px 3px rgba(84,84,84,0.06);
box-shadow: 0px 0px 6px 3px rgba(84,84,84,0.06); border-radius: 4px; border-top: 3px solid #f673c1;
margin-top: 20px;}
.address_book_top{padding: 13px 13px; padding-right: 7px; border-bottom: solid 1px #ebecec;display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap; padding-right: 6px;}
.address_book_top h5{font-size: 16px; color: #4b4f53; font-weight: 500;}
.address_book_top h5 span{color: #f673c1;}
.edit_btn li{display: inline-block; margin-right: 2px;}
.edit_btn li:last-child{ margin-right: 0;}
.ed_bt{display: inline-block; min-width: 53px; height: 26px; border-radius: 3px;font-family: 'Roboto', sans-serif;
font-weight: 400; font-size: 14px; border-radius: 3px; line-height: 26px; text-align: center; border: none; outline: none;
cursor: pointer; background: #f673c1; color: #fff;}
.ed_bt:hover{background: #0d1f35;}
.ed_bt_bl{background: #0d1f35;}
.ed_bt_bl:hover{background: #f673c1;}
.edit_btn{padding-left: 6px;}
.add_book_itam{padding: 0 13px;padding-right: 2px;}
.add_book_itam li{display: flex; width: 100%;font-family: 'Roboto', sans-serif;
font-size: 15px;-ms-flex-wrap: wrap;
flex-wrap: wrap;}
.add_book_itam li span{width: 34%; color: #0e1f37; border-right: solid 1px #ebecec; padding: 5px 0;}
.add_book_itam li em{width: 66%; color: #54585a; font-style: normal; padding: 5px 0; padding-left: 11px;}
.add_div_tit{display: flex; justify-content: space-between; align-items: center;}
.add_new_add_btn{line-height: 40px; height: 40px; padding: 0 12px; background: #f673c1; font-size: 16px;
border-radius: 5px; margin-top: 0;}
.add_new_add_btn img{margin-right: 7px; margin-left: 0;}
.add_new_add_btn:hover{background: #0d1f35;}

.order_summary_panel{width: 100%; position: relative;}
.order_summary_bx{width: 100%; margin-top: 15px;}
.order_summary_bx h3{font-size: 18px; color: #302f2f; font-weight: 500;font-family:'CircularStd-Medium';}
.order_summary_tx, .delivery_summary_tx{width: 100%; border: solid 1px #e1e6e8;-webkit-box-shadow: 0px 0px 6px 3px rgba(84,84,84,0.09);
-moz-box-shadow: 0px 0px 6px 3px rgba(84,84,84,0.09); box-shadow: 0px 0px 6px 3px rgba(84,84,84,0.09); border-radius: 4px;
margin-top: 6px;padding:13px 18px 10px; padding-right: 7px;min-height: 149px;}
.order_summary_tx li{width: 100%; color: #0d1f35; font-size: 16px;
display: inline-block; line-height: 22px;margin-top: 0px;}
.order_summary_tx span{float: left; width: 40%;}
.order_summary_tx em{float: left; width: 60%; font-weight: 400; font-style: normal; font-size: 15px;color: #434a51;}
.delivery_summary_tx li{font-size: 15px; color: #2a2a2a;}
.delivery_summary_tx b{font-weight: 400; font-size: 18px; color: #0d1f35;}
.delivery_summary_tx span{color: #0d1f35;}
.delivery_summary_tx em{color: #2a2a2a; font-style: normal; display: inline-block; width: 100%;}
.delivery_summary_tx small{color: #f673c1; font-size: 15px;}



.show-actions {
    display: none;
    position: absolute;
    z-index: 20;    
    right: -28px;
    width: 139px;
    top: 37px;
}
.show-actions .new-actinss {
    width: 118px;
    background: #FFFFFF;
    border: 1px solid #D0D4DB;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    padding: 8px 0;
}
.show-actions li a img {
    margin-left: 5px;
}

.show-actions .new-actinss {
    width: 100%;
    background: #FFFFFF;
border: 1px solid #D0D4DB;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
border-radius: 6px;
    padding: 8px 0;
}
.action-dots{
    display: block;
}

.show-actions ul li a {
    width: 100%;
    padding: 0px 10px;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 30px;
/* or 200% */


color: #000;
}
.show-actions ul li a:hover{
    color: #0058FA
}


.arrow_box2 {
    position: relative;
    background: #fff;
    border: 1px solid #D0D4DB;
}
.arrow_box2:after, .arrow_box2:before {
    bottom: 100%;
    left: 80%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box2:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #0D1F35;
    border-width: 12px;
    margin-left: -12px;
}
.arrow_box2:before {
    border-color: rgba(208, 212, 219, 0);
    border-bottom-color: #0D1F35;
    border-width: 13px;
    margin-left: -13px;
}
.order_action{position: absolute; right: 5px; top: 15px; display: flex; align-items: center; z-index: 8;}
.order_action small{padding-right: 11px; font-size: 14px; color: #4f5258; font-family: 'Roboto', sans-serif;
font-weight: 400;}
.order_summary_top{width: 100%;}
.dow_pescription{width: 100%; margin-top: 13px;}
.dow_pescription_btn img{margin-right: 8px; margin-top:-1px;}
.dow_pescription_btn {color: #f673c1; font-size: 16px;font-family: 'Roboto', sans-serif;
font-weight: 400; }
.dow_pescription_btn:hover{color: #0d1f35;}
.table_list{width: 100%;}


/*-------- custom table------*/

.custom-table {
    float: left;
    width: 100%;
}

.table {
    display: table;
    margin-bottom: 0px !important;
    max-width: 100%;
    width: 100% !important;
    background-color: transparent;
    /* box-shadow: 0px 1px 2px #dcdcdc; */
    ;
}

.table .one_row1 {
    display: table-row;
}

.tab_head_sheet {
    background: #0d1f35;
    border: medium none;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
color: #FFFFFF;
}

.cell1 {
    display: table-cell;
    padding: 9px 0px 9px 9px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    /* box-shadow: 0px 1px 1px #f3f2f2; */
    text-align: left;
}
.tab_head_sheet_1 {
    border: medium none;
    height: 60px;
    text-align: left;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    padding: 12px 0px 12px 9px;
    border-bottom: 1px solid #E1E1E1;
}

.tab_head_sheet_1 p {
font-size: 14px;
line-height: 22px;
/* identical to box height, or 200% */


color: #4f5258;

}

.W55_1 {
    display: none;
}

.user-right-top-new p.appr {
    color: #099d60;
}
.table_list{padding-top: 20px; width: 100%;}
.pro_tdl .media-body p{font-size: 15px; color: #0d1f35;font-family: 'Roboto', sans-serif;}
.pro_tdl .media-body em{ font-size: 14px;color: #858889;}
.pro_img_cc{width: 34px; margin-right: 10px;}
.dashbord_pg_panel{width: 100%; padding-top: 20px;}
.dashbord_pg_top{width: 100%;}
.dashbord_pg_top h6{font-size: 20px; color: #302f2f; font-weight: 500;font-family:'CircularStd-Medium';
position: relative; padding-left: 36px;}
.dashbord_pg_top h6 img{position: absolute; top: 4px; left: 0;}
.dashbord_pg_top p{font-size: 14px;line-height: 23px; color: #434a51; margin-top: 13px;}
.das_line{width: 100%; display: inline-block; margin-top: 20px; border: solid 1px #e8e8e8; position: relative;}
.das_line:before{position: absolute; left: 0; top: -4.5px; width: 9px;height: 9px; background: #f673c1; content: "";
border-radius: 100%;}
.last_order_box{width: 100%; margin-top: 18px;}
.last_order_bx h4{font-size: 19px; font-weight: 400; color: #0d1f35;}
.last_order_panel{width: 100%;}
.last_order_itm{-ms-flex-wrap: wrap;
flex-wrap: wrap; display: flex; margin-top: 10px;}
.last_order_left{width: 70%; display: flex; padding: 7px 10px; border: solid 1px #dae3e6; border-radius: 6px;
    justify-content: space-between;  align-items: center;}
.last_order_right{display: flex; padding-left: 22px; width: 30%;}
.last_order_bx p{font-size: 15px; color: #303a4f;}
.last_order_bx span{font-size: 15px; color: #858889;}
.last_order_bx{padding-right: 10px;}
.order_tm{padding: 4px 9px; border-radius: 5px; border: solid 1px #e7dfe5;}
.order_tm p{color: #383c41; font-weight: 500;}
.order_tm span img{color: #383c41; font-weight: 500; margin-right: 3px;}
.stas_dv{text-align: right; padding-right: 0;}
.stas_dv_bg{color: #188348 !important; font-weight: 500;}
.stas_dv p{font-weight: 500;}
.last_order_inr{width: 100%;padding: 7px 10px;
border: solid 1px #dae3e6;
border-radius: 6px; display: flex; justify-content: space-between; align-items: center;}
.last_order_inr h4{font-size: 16px; color: #0d1f35; font-weight: 400; }
.last_order_inr h4 span{color: #f673c1;  font-family:'Circular Std Bold';}
.last_order_inr .pag_arwbtn{margin: 0; padding: 0 9px;}
.last_order_box h5{font-size: 19px; color: #0d1f35;}
.total_order_bx{width: 100%; padding: 34px 0 33px;}
.total_order_item{width: 100%; border-radius: 4px; border: solid 1px #cfd1d1;
-webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.03);
-moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.03);
box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.03);
padding:17px 21px; position: relative;}
.total_order_item .media em{width: 55px; height: 55px; border-radius: 6px;
-webkit-box-shadow: -8px 0px 16px 5px rgba(246 115 193 / 19%);
-moz-box-shadow: -8px 0px 16px 5px rgba(246 115 193 / 19%);
box-shadow: -8px 0px 16px 5px rgba(246 115 193 / 19%);
justify-content: center; align-items: center;
background: #f673c1; margin-right: 14px;}
.total_order_item .media em img{max-width: 100%;}
.total_order_item .media .media-body p{font-size: 16px; color: #3b4252; font-weight: 400;}
.total_order_item .media .media-body b{font-size: 24px; color: #0d1f35; font-weight: 700;font-family:'Circular Std Bold';}
.progress_bx{position: absolute; bottom: 0; left: 0; width: 100%; padding: 0 21px;}
.progress_bx .progress-bar{background: #f673c1;}
.progress_bx .progress{height: 3px; background: #ffc4e7; border-radius: 0 !important;}



/*------static page---*/

.about_us_ban {
    width: 100%;
    display: inline-block;
    position: relative;
}
.about_us_ban img {
    width: 100%;
    height: 215px;
    object-fit: cover;
}
.about_ban_text {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 48%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.abt_ban_text_bx {
    width: 100%;
}
.abt_ban_text_bx h1, .abt_ban_text_bx h2 {
    color: #ffffff;
    font-family: 'Circular Std Bold';
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}
.abt_ban_text_bx li {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    padding-right: 14px;
    position: relative;
}
.abt_ban_text_bx li a {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.3px;
}
.abt_ban_text_bx li a:hover{
    color: #0D1F35
}
.abt_ban_text_bx li:before {
    position: absolute;
    left: 0;
    top: 8px;
    background: url(../images/line2.png)no-repeat;
    width: 6px;
    height: 11px;
    background-size: 100%;
    content: "";
}
.abt_ban_text_bx li:first-child:before {
    display: none;
}
.abt_ban_text_bx ul {
    margin-top: 23px !important;
}
.about-front-img {
    box-shadow: 0 16px 32px 0 hsla(0,0%,53%,.2);
    margin-right: 25px;
}
.about-area{
    padding: 70px 0 90px;
}
.about-right-side {
    padding-left: 5px;
}
.about-title h5 {
    margin-bottom: 10px;
    color: #f673c1;
    font-size: 18px;
    font-weight: 500;
}
.about-title h1 {
    font-size: 46px;
    line-height: 55px;
    color: #161718;
    letter-spacing: -0.6px;
    font-family: 'Circular Std Bold';
    font-weight: 700;
    margin-bottom: 15px;
}
.about-text p{
    color: #333333;
    padding-right: 10px;
    font-size: 17px;
    line-height: 30px;
    margin-top: 16px;
}
.our-destination{
    margin-top: 40px;
}
.single-item{
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
}
.single-item .mv-icon {
   width:80px;
}
.mv-title{
    width: calc(100% - 80px)
}
.mv-title h3 {
    font-size: 22px;
    margin-bottom: 9px;
    color: #223645;
    font-family: 'Circular Std Bold';
    font-weight: 600;
}
.mv-title p {
    padding-right: 73px;
    color: #333333;
    font-size: 15px;
    line-height: 27px;
}
.about-front-img img{
    width: 100%;
}

.dash_inputs label{
    color: #000;
    font-size: 15.5px;
    font-weight: 400;
    display: block;
    margin-bottom: 4px;
    letter-spacing: 0.3px;
    width: 100%;
}
.dash_inputs input, .dash_inputs select , .dash_inputs textarea{
    height: 46px;
    border: 1px solid #e7dfe5;
    background: #fff;
    border-radius: 6px;
    padding: 0 15px;
    color: #161718;
    font-size: 15.5px;
    letter-spacing: 0.3px;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.dash_inputs select{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: #fff0 url(../images/drop6.png)no-repeat right 14px center;
}
.dash_inputs input::placeholder, .dash_inputs select::placeholder , .dash_inputs textarea::placeholder{
    color: #d0d4db;
}
.dash_inputs input:focus, .dash_inputs select:focus, .dash_inputs textarea:focus {
    border: 1px solid #f673c1;
}
.find_bttns {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    color: #fff;
    background: #f673c1;
    border: 0;
    font-size: 17px;
    padding: 0 18px;
    border-radius: 6px;
    font-family: 'Circular Std Book';
    cursor: pointer;
    margin-top: 30px;
}
.find_bttns img{
    margin-right: 8px;
}
.find_bttns:hover{
    background: #0D1F35
}
.table_cutoms{
    margin-top: 25px;
}
.orders_table{
    width: 100%;
    display: flex;
    padding: 8px 14px;
    border: solid 1px #dae3e6;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.orders_table:hover{
    border: solid 1px #f673c1;
}

.orders_infos{
    padding-right: 10px;
}
.orders_infos p {
    font-size: 15.5px;
    color: #252222;
    line-height: 23px;
}
.orders_infos span {
    font-size: 15px;
    color: #858889;
}
.orders_infos span img {
    color: #383c41;
    font-weight: 500;
    margin-right: 3px;
}

.add_ttrr.actions-main {
    width: 20px;
    text-align: right;
    cursor: pointer;
    position: relative;
}
.action-dots {
    display: block;
}
.show-actions {
    position: absolute;
    z-index: 20;
    top: 46px;
    right: 0;
    right: -15px;
}
.show-actions .new-actinss {
    width: 85%;
    background: #0D1F35;
    border: 1px solid #0D1F35;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    padding: 2px 0;
        margin: 0 0 0 auto;
}
.show-actions .new-actinss ul li a{
    color: #fff
}
.show-actions .new-actinss ul li a:hover{
    color: #f673c1
}
.new_color{
   color: #188348 !important
}
.deli_color{
    color: #188348 !important
}
.canc_color{
    color: #ff1a1a !important
}




.pagination_bx {
    width: 100%;
    padding-top: 15px;
    padding-bottom:14px;
}
.pagination_bx li {
    display: inline-block;
}

.pagination_bx li a {
    width: 38px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #C1C9CB;
    box-sizing: border-box;
    border-radius: 6px;
    display: block;
    text-align: center;
    line-height:  35px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #545050;
    margin-right: 3px;
}
.pagination_bx li a:hover , .pagination_bx li a.active{
    background: #0D1F35;
    border: 1px solid #0D1F35;
    box-sizing: border-box;
    border-radius: 6px;
    color: #fff;
}
.pagination_bx li:first-child a , .pagination_bx li:last-child a{
    border-radius: 50%;
}
.pagination_bx li:first-child a:hover , .pagination_bx li:last-child a:hover ,
.pagination_bx li:first-child a.active , .pagination_bx li:last-child a.active{
    background: #f673c1;
    border: 1px solid #f673c1;
    box-sizing: border-box;
}
.pagination_bx li a .hovern , .pagination_bx li a:hover .hoverb ,
.pagination_bx li a.active .hoverb , .pagination_bx li a.active:hover .hoverb{
    display: inline-block;
}
.pagination_bx li a:hover .hovern , .pagination_bx li a .hoverb ,
.pagination_bx li a.active .hovern , .pagination_bx li a.active:hover .hovern{
    display: none;
}

.title_headings .pag_hed p {
    margin-top: 6px;
}



.contact-from{
         background: #FFFFFF;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 12%);
    border-radius: 7px;
    margin-bottom: 24px;
    padding: 21px 25px 30px;
    margin-top: 42px;
}
.inp_rea{
    position: relative;
}
.contact_inputs{
    margin-bottom: 18px;
}
.contact_inputs i {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 46px;
    width: 45px;
    font-size: 16px;
    border-right: 1px solid #e7dfe5;
    height: 50px;
    color: #f673c1;
}
.contact_inputs label{
    font-size: 16px;
     font-family:'Circular Std Book';
     color: #161718;
     width: 100%;
     margin-bottom:3px;
}
.contact_inputs input , .contact_inputs select , .contact_inputs textarea{
    width: 100%;
    height: 50px;
    border: 1px solid #e7dfe5;
    border-radius: 6px;
    padding: 0 15px;
    padding-left: 57px;
    color: #161718;
    font-weight: 400;
    font-size: 15.5px;
    letter-spacing: 0.3px;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
}
.contact_inputs textarea{
    resize: none;
    height: 120px;
    padding-top: 15px;
}
.contact_inputs input::placeholder, .contact_inputs select::placeholder , .contact_inputs textarea::placeholder{
    color: #d0d4db;
}

.contact_inputs .text-i i{
height: 120px;
}
.ne_pg_btns{
    height: 50px;
    line-height: 46px;
    padding: 0 25px;
    color: #fff;
    font-size: 18px;
    font-family: 'Circular Std Book';
    cursor: pointer;
    background: #f673c1;
    border: 1px solid #f673c1;
    border-radius: 4px;
    display: inline-block;
}
.ne_pg_btns:hover{
    background: #0D1F35;
    border: 1px solid #0D1F35;
}

.cont-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.cont-box img {
    margin-right: 22px;
}
.cont-box h3 {
    font-size: 18px;
    font-weight: 600;
    color: #1b1b1b;
   font-family: 'Circular Std Book';
    margin-bottom: 6px;
}
.cont-box p, .cont-box p a {
    font-size: 16px;
    color: #696B6F;
    line-height: 28px;
}
.iframe_divs{
    margin-top: -90px;
    border-radius: 6px;
}
.iframe_divs iframe{
    border-radius: 6px;
}

.help_sec .faq-tbs ul {
    justify-content: center;
    border-bottom: 0 !important;
    display: flex;
}
.help_sec .faq-tbs li {
    padding: 0;
    padding-top: 12px;
    margin-right: 15px;
}
.help_sec .faq-tbs li a {
    font-size: 18px;
    text-transform: inherit;
    padding-right: 27px;
    padding-bottom: 0;
    display: inline-block;
    border: solid 1px #dbe9e8;
    border-radius: 6px;
    padding: 10px 15px;
    width: 100%;
}
.help_sec .faq-tbs li a {
    color: #0D1F35;
    position: relative;
    font-weight: 400;
    display: inline-block;
    font-family:'Circular Std Book';
}
.help_sec .faq-tbs li a.active , .faq-tbs li a:hover{
    color: #fff;
    background: #f673c1;
    border: solid 1px #f673c1;
}
.faq-tbs{
    padding-top: 25px;
}

.dash-d {
    position: relative;
}

.over_llp1 {
    position: absolute;
    top: 8px;
    right: 14px;
}
.uplodimgfilnew label{
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #fff5fb inset !important
}

.error{
    color: red;
}

.loader_img_new {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #ffffffe0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader5 {
    width:60px;
    height: 60px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 5px solid;
    border-top-color: #fff;
    border-bottom-color: #f673c1;
    border-left-color: #fff;
    border-right-color: #f673c1;
    -webkit-animation: loader4 1s ease-in-out infinite;
    animation: loader4 1s ease-in-out infinite;
}
.loader_divs{
    min-height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scs_msg{
    text-align: center;
}
.scs_msg img{
    width: 100px;

}
.scs_msg h2 {
    margin-top:35px;
    color: #f673c1;
    font-size: 28px;
    margin-bottom: 7px;
}
.scs_msg p{
    font-size: 18px;
    color: #666666;
    padding-top: 14px;
}
.scs_msg a{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 0 25px;
    height: 44px;
    line-height: 44px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 26px;
    color: #fff;
    border-radius: 3px;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: none;
    outline: none;
    cursor: pointer;
    background: #f673c1;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2382ff', endColorstr='#4bc0ff', GradientType=1 );
}
.scs_msg a:hover {
    background: #0D1F35;
    transition: 0.2s;
}

.scs_msg h2.eroor{
    color: #ee0d0d
}
.loader4 {
    width:100px;
    height:100px;
    display:inline-block;
    padding:0px;
    border-radius:100%;
    border:10px solid;
    border-top-color:#2479fc;
    border-bottom-color:#a5d2fb;
    border-left-color:#2479fc;
    border-right-color:#a5d2fb;
    -webkit-animation: loader4 1s ease-in-out infinite;
    animation: loader4 1s ease-in-out infinite;
 }
 @keyframes loader4 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
 }
 @-webkit-keyframes loader4 {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
 }
 #sign_btn_bx {
    display: none;
}
.sign_btn_bx {
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
    background: #fff;
    border-radius: 3px;
    border-top: solid 3px #f673c1;
    padding: 0px 3px;
    -webkit-box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.08);
}
.sign_btn_bx li {
    font-size: 15.13px;
    width: 100%;
}
.sign_btn{
    color: #fff !important}

    .sign_btn_bx a {
    width: 100%;
    display: inline-block;
    padding: 10px 7px 10px 7px;
    border-top: solid 1px #f1f1f1;
    color: #000;
}
 